openapi: 3.0.0
info:
  title: Construction.Account.Admin Account Management Folders API
  version: '1.0'
  contact:
    name: Autodesk Plaform Services
    url: https://aps.autodesk.com/
    email: aps.help@autodesk.com
  termsOfService: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/forge-platform-web-services-api-terms-of-service
  x-support: https://stackoverflow.com/questions/tagged/autodesk-platform-services
  description: 'The Account Admin API automates creating and managing projects, assigning and managing project users, and managing member and partner company directories. You can also synchronize data with external systems.

    '
servers:
- url: https://developer.api.autodesk.com
security:
- 2-legged: []
- 3-legged: []
tags:
- name: Folders
paths:
  /data/v1/projects/{project_id}/folders/{folder_id}:
    parameters:
    - $ref: '#/components/parameters/project_id'
    - $ref: '#/components/parameters/folder_id'
    get:
      tags:
      - Folders
      operationId: getFolder
      summary: Get a Folder
      description: 'Returns the folder specified by the ``folder_id`` parameter from within the project identified by the ``project_id`` parameter. All folders and subfolders within a project (including the root folder) have a unique ID.


        **Note:** This operation supports Autodesk Construction Cloud (ACC) Projects. For more information, see the [ACC Platform API documentation](https://en.docs.acc.v1/overview/introduction/). '
      security:
      - 2-legged:
        - data:read
      - 3-legged:
        - data:read
      parameters:
      - $ref: '#/components/parameters/If-Modified-Since'
      - $ref: '#/components/parameters/x-user-id'
      responses:
        '200':
          description: The specified folder was successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
        '304':
          $ref: '#/components/responses/304-general'
        '400':
          $ref: '#/components/responses/400-general'
        '403':
          $ref: '#/components/responses/403-general'
        '404':
          $ref: '#/components/responses/404-general'
    patch:
      tags:
      - Folders
      operationId: patchFolder
      summary: Modify a Folder
      description: 'Renames, moves, hides, or unhides a folder. Marking a BIM 360 Docs folder as hidden effectively deletes it. You can restore it by changing its ``hidden`` attribute. You can also move BIM 360 Docs folders by changing their parent folder.


        You cannot permanently delete BIM 360 Docs folders. They are tagged as hidden folders and are removed from the BIM 360 Docs UI and from regular Data Management API responses. You can use the hidden filter (``filter[hidden]=true``) to get a list of deleted folders with the [List Folder Contents](/en/docs/data/v2/reference/http/projects-project_id-folders-folder_id-contents-GET/) operation.


        Before you use the Data Management API to access BIM 360 Docs folders, provision your app through the BIM 360 Account Administrator portal. For details, see the [Manage Access to Docs tutorial](/en/docs/bim360/v1/tutorials/getting-started/manage-access-to-docs/).


        **Note:** This operation supports Autodesk Construction Cloud (ACC) Projects. For more information, see the [ACC Platform API documentation](/en.docs.acc.v1/overview/introduction/). '
      security:
      - 2-legged:
        - data:write
      - 3-legged:
        - data:write
      parameters:
      - $ref: '#/components/parameters/x-user-id'
      responses:
        '200':
          description: The folder was successfully modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
        '400':
          $ref: '#/components/responses/400-general'
        '403':
          $ref: '#/components/responses/403-general'
        '404':
          $ref: '#/components/responses/404-general'
        '423':
          $ref: '#/components/responses/423-general'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ModifyFolderPayload'
        description: Describe the folder to be patched.
      x-folder-id: projects-project_id-folders-folder_id-PATCH
  /data/v1/projects/{project_id}/folders/{folder_id}/parent:
    parameters:
    - $ref: '#/components/parameters/project_id'
    - $ref: '#/components/parameters/folder_id'
    get:
      tags:
      - Folders
      operationId: getFolderParent
      summary: Get Parent of a Folder
      description: 'Returns the parent folder of the specified folder. In a project, folders are organized in a hierarchy. Each folder except for the root folder has a parent folder.


        **Note:** This operation supports Autodesk Construction Cloud (ACC) Projects. For more information, see the [ACC Platform API documentation](https://en.docs.acc.v1/overview/introduction/). '
      security:
      - 2-legged:
        - data:read
      - 3-legged:
        - data:read
      parameters:
      - $ref: '#/components/parameters/x-user-id'
      responses:
        '200':
          description: The parent folder was retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
        '400':
          $ref: '#/components/responses/400-general'
        '403':
          $ref: '#/components/responses/403-general'
        '404':
          $ref: '#/components/responses/404-general'
      x-folder-id: projects-project_id-folders-folder_id-parent-GET
  /data/v1/projects/{project_id}/folders/{folder_id}/contents:
    parameters:
    - $ref: '#/components/parameters/project_id'
    - $ref: '#/components/parameters/folder_id'
    get:
      tags:
      - Folders
      operationId: getFolderContents
      summary: List Folder Contents
      description: 'Returns a list of items and folders within the specified folder. Items represent word documents, fusion design files, drawings, spreadsheets, etc.


        The resources contained in the ``included`` array of the response are their tip versions.


        **Note:** This operation supports Autodesk Construction Cloud (ACC) Projects. For more information, see the [ACC Platform API documentation](https://en.docs.acc.v1/overview/introduction/). '
      security:
      - 2-legged:
        - data:read
      - 3-legged:
        - data:read
      parameters:
      - $ref: '#/components/parameters/x-user-id'
      - $ref: '#/components/parameters/filter_type'
      - $ref: '#/components/parameters/filter_id'
      - $ref: '#/components/parameters/filter_extension_type'
      - $ref: '#/components/parameters/filter_lastModifiedTimeRollup'
      - $ref: '#/components/parameters/page_number'
      - $ref: '#/components/parameters/page_limit'
      - $ref: '#/components/parameters/includeHidden'
      responses:
        '200':
          description: The content of the specified folder was successfully returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FolderContents'
        '400':
          $ref: '#/components/responses/400-general'
        '403':
          $ref: '#/components/responses/403-general'
        '404':
          $ref: '#/components/responses/404-general'
  /data/v1/projects/{project_id}/folders/{folder_id}/refs:
    parameters:
    - $ref: '#/components/parameters/project_id'
    - $ref: '#/components/parameters/folder_id'
    get:
      tags:
      - Folders
      operationId: getFolderRefs
      summary: List Related Resources for a Folder
      description: 'Returns the resources (items, folders, and versions) that have a custom relationship with the specified folder. Custom relationships can be established between a folder and other resources within the data domain service (folders, items, and versions).


        Each relationship is defined by the id of the object at the other end of the relationship, together with type, attributes, and relationships links.

        Callers will typically use a filter parameter to restrict the response to the custom relationship types (``filter[meta.refType]``) they are interested in.


        **Note:** This operation supports Autodesk Construction Cloud (ACC) Projects. For more information, see the [ACC Platform API documentation](https://en.docs.acc.v1/overview/introduction/). '
      security:
      - 2-legged:
        - data:read
      - 3-legged:
        - data:read
      parameters:
      - $ref: '#/components/parameters/x-user-id'
      - $ref: '#/components/parameters/filter_type_version'
      - $ref: '#/components/parameters/filter_id'
      - $ref: '#/components/parameters/filter_extension_type'
      responses:
        '200':
          description: The list of related resources was retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FolderRefs'
        '400':
          $ref: '#/components/responses/400-general'
        '403':
          $ref: '#/components/responses/403-general'
        '404':
          $ref: '#/components/responses/404-general'
  /data/v1/projects/{project_id}/folders/{folder_id}/search:
    parameters:
    - $ref: '#/components/parameters/project_id'
    - $ref: '#/components/parameters/folder_id'
    get:
      tags:
      - Folders
      operationId: getFolderSearch
      summary: List Folder and Subfolder Contents
      description: "Searches the specified folder and its subfolders and returns a list of the latest versions of the items you can access.\n\n\nUse the ``filter`` query string parameter to narrow down the list as appropriate. You can filter by the following properties of the version payload: \n\n- ``type`` property, \n- ``id`` property, \n- any of the attributes object properties. \n\nFor example, you can filter by ``createTime`` and ``mimeType``. It returns tip versions (latest versions) of properties where the filter conditions are satisfied. To verify the properties of the attributes object for a specific version, use the [Get a Version](/en/docs/data/v2/reference/http/projects-project_id-versions-version_id-GET/) operation.\n\nTo list the immediate contents of the folder without parsing subfolders, use the [List Folder Contents](/en/docs/data/v2/reference/http/projects-project_id-folders-folder_id-contents-GET/) operation.\n\n**Note:** This operation supports Autodesk Construction Cloud (ACC) Projects. For more information, see the [ACC Platform API documentation](https://en.docs.acc.v1/overview/introduction/). "
      security:
      - 3-legged:
        - data:read
        - data:search
      parameters:
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/page_number'
      responses:
        '200':
          description: 'The contents of the folder and its subfolders were successfully returned. '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Search'
        '400':
          $ref: '#/components/responses/400-general'
        '403':
          $ref: '#/components/responses/403-general'
        '404':
          $ref: '#/components/responses/404-general'
  /data/v1/projects/{project_id}/folders/{folder_id}/relationships/refs:
    parameters:
    - $ref: '#/components/parameters/folder_id'
    - $ref: '#/components/parameters/project_id'
    get:
      tags:
      - Folders
      operationId: getFolderRelationshipsRefs
      summary: List Custom Relationships for a Folder
      description: "Returns the custom relationships associated with the specified folder. Custom relationships can be established between a folder and other resources within the data domain service (folders, items, and versions).\n\nEach relationship is defined by the ID of the object at the other end of the relationship, together with type, specific reference meta including extension data.\nCallers will typically use a filter parameter to restrict the response to the custom relationship types (``filter[meta.refType]``) they are interested in.\nThe response body will have an included array that contains the resources in the relationship, which is essentially what is returned by the [List Related Resources for a Folder](/en/docs/data/v2/reference/http/projects-project_id-folders-folder_id-refs-GET/) operation.  \n\n**Note:** This operation supports Autodesk Construction Cloud (ACC) Projects. For more information, see the [ACC Platform API documentation](https://en.docs.acc.v1/overview/introduction/). "
      security:
      - 2-legged:
        - data:read
      - 3-legged:
        - data:read
      parameters:
      - $ref: '#/components/parameters/x-user-id'
      - $ref: '#/components/parameters/filter_type_version'
      - $ref: '#/components/parameters/filter_id'
      - $ref: '#/components/parameters/filter_refType'
      - $ref: '#/components/parameters/filter_direction'
      - $ref: '#/components/parameters/filter_extension_type'
      responses:
        '200':
          description: The list of custom relationships was successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelationshipRefs'
        '400':
          $ref: '#/components/responses/400-general'
        '403':
          $ref: '#/components/responses/403-general'
        '404':
          $ref: '#/components/responses/404-general'
    post:
      tags:
      - Folders
      operationId: createFolderRelationshipsRef
      summary: Create a Custom Relationship for a Folder
      description: Creates a custom relationship between a folder and another resource within the data domain service (folder, item, or version).
      security:
      - 2-legged:
        - data:create
      - 3-legged:
        - data:create
      parameters:
      - $ref: '#/components/parameters/x-user-id'
      responses:
        '204':
          description: The reference between resources was successfully created.
        '400':
          $ref: '#/components/responses/400-general'
        '403':
          $ref: '#/components/responses/403-general'
        '404':
          $ref: '#/components/responses/404-general'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/RelationshipRefsPayload'
        description: ''
  /data/v1/projects/{project_id}/folders/{folder_id}/relationships/links:
    parameters:
    - $ref: '#/components/parameters/project_id'
    - $ref: '#/components/parameters/folder_id'
    get:
      tags:
      - Folders
      operationId: getFolderRelationshipsLinks
      summary: List Relationship Links for a Folder
      description: "Returns a list of links for the specified folder. \n\nCustom relationships can be established between a folder and other external resources residing outside the data domain service. A link’s ``href`` attribute defines the target URI to access a resource.\n\n**Note:** This operation supports Autodesk Construction Cloud (ACC) Projects. For more information, see the [ACC Platform API documentation](https://en.docs.acc.v1/overview/introduction/). "
      security:
      - 2-legged:
        - data:read
      - 3-legged:
        - data:read
      parameters:
      - $ref: '#/components/parameters/x-user-id'
      responses:
        '200':
          description: Successful retrieval of the links collection associated with a specific resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelationshipLinks'
        '400':
          $ref: '#/components/responses/400-general'
        '403':
          $ref: '#/components/responses/403-general'
        '404':
          $ref: '#/components/responses/404-general'
  /data/v1/projects/{project_id}/folders:
    parameters:
    - $ref: '#/components/parameters/project_id'
    post:
      tags:
      - Folders
      operationId: createFolder
      summary: Create a Folder
      description: 'Creates a new folder in the specified project. Use the ``parent`` attribute in the request body to specify where in the hierarchy the new folder should be located. Folders can be nested up to 25 levels deep.


        Use the `Modify a Folder </en/docs/data/v2/reference/http/projects-project_id-folders-folder_id-PATCH/>`_ operation to delete and restore folders.


        Before you use the Data Management API to access BIM 360 Docs folders, provision your app through the BIM 360 Account Administrator portal. For details, see the [Manage Access to Docs tutorial](/en/docs/bim360/v1/tutorials/getting-started/manage-access-to-docs/).


        **Note:** This operation supports Autodesk Construction Cloud (ACC) Projects. For more information, see the [ACC Platform API documentation](https://en.docs.acc.v1/overview/introduction/). '
      security:
      - 2-legged:
        - data:create
      - 3-legged:
        - data:create
      parameters:
      - $ref: '#/components/parameters/x-user-id'
      responses:
        '201':
          description: Successful creation of a folder.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
        '400':
          $ref: '#/components/responses/400-general'
        '403':
          $ref: '#/components/responses/403-general'
        '404':
          $ref: '#/components/responses/404-general'
        '409':
          $ref: '#/components/responses/409-general'
        '423':
          $ref: '#/components/responses/423-general'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/FolderPayload'
        description: ''
components:
  responses:
    403-general:
      description: The request was successfully validated but permission is not granted, or the application has not been allowed access. Do not try again unless you resolve permissions first.
      content:
        application/json:
          schema:
            type: object
            x-examples:
              Example 1:
                jsonapi: {}
                links: {}
                data: []
                meta:
                  warnings:
                  - Id: null
                    HttpStatusCode: '403'
                    ErrorCode: BIM360DM_ERROR
                    Title: Unable to get hubs from BIM360DM APAC.
                    Detail: You don't have permission to access this API
                    AboutLink: null
                    Source: null
                    meta: null
            properties:
              jsonapi:
                type: object
                description: The JSON API object.
              links:
                type: object
                description: An object intended to contain the URI of a resource. Empty in this case, because an error has occurred.
              data:
                type: array
                description: An object intended to contain the return data. Empty in this case, because an error has occurred.
                items:
                  type: object
              meta:
                type: object
                description: Contains information about the error that occurred.
                properties:
                  warnings:
                    type: array
                    description: An array of objects, where each element of the array represents a warning.
                    items:
                      type: object
                      properties:
                        Id:
                          description: An ID assigned to the warning.
                          nullable: true
                        HttpStatusCode:
                          type: string
                          description: The HTTP status code returned in response to the request.
                        ErrorCode:
                          type: string
                          description: A code that indicates what went wrong.
                        Title:
                          type: string
                          description: A quick summary of the issue, at a glance.
                        Detail:
                          type: string
                          description: A more comprehensive explanation of the issue, providing specific information and potential solutions, if any.
                        AboutLink:
                          description: A hyperlink to documentation about the issue.
                          nullable: true
                        Source:
                          description: Information about the service that detected the issue.
                          nullable: true
                        meta:
                          description: Additional information about the issue.
                          nullable: true
    409-general:
      description: The specified resource already exists or has been modified.
      content:
        application/json:
          schema:
            properties:
              id:
                type: string
    304-general:
      description: The specified resource has not been modified since.
      content:
        application/json:
          schema:
            properties:
              id:
                type: string
    404-general:
      description: The specified resource was not found.
      content:
        application/json:
          schema:
            properties:
              id:
                type: string
    400-general:
      description: The request could not be understood by the server due to malformed syntax or missing request headers. The client SHOULD NOT repeat the request without modifications. The response body may give an indication of what is wrong with the request.
      content:
        application/json:
          schema:
            properties:
              id:
                type: string
    423-general:
      description: The source or destination resource is locked or being modified.
      content:
        application/json:
          schema:
            properties:
              id:
                type: string
  schemas:
    json_api_meta_link:
      title: json_api_meta_link
      x-stoplight:
        id: 6c1450io6o3zx
      type: object
      description: Meta-information on links to this resource.
      properties:
        link:
          $ref: '#/components/schemas/json_api_link'
          x-stoplight:
            id: haazb0d04arzm
    type_link:
      type: string
      x-stoplight:
        id: f84280dd62b59
      enum:
      - links
      description: The type of the resource. Possible values are ``links``.
    type_entity:
      type: string
      enum:
      - folders
      - items
      - versions
      description: The type of the resource. Possible values are ``folders``, ``items``, ``versions``.
    web_view_link:
      title: web_view_link
      x-stoplight:
        id: b0lyf514eksq4
      type: object
      description: An object containing a link that opens the resource in a browser.
      properties:
        href:
          type: string
          x-stoplight:
            id: j0xj0hp05wo0l
          description: The location (URL) of the resource the link points to.
      required:
      - href
    json_api_relationships_links_versions:
      title: json_api_relationships_links_internal
      x-stoplight:
        id: da5pz40rvqocl
      type: object
      description: Information about the existing versions of the item.
      properties:
        links:
          $ref: '#/components/schemas/json_api_links_related'
          x-stoplight:
            id: s7etnb8jkm02f
      required:
      - links
    type_folder:
      type: string
      enum:
      - folders
      description: The type of the resource. Possible values are ``folders``.
    json_api_relationships_links_internal:
      title: json_api_relationships_links_internal
      x-stoplight:
        id: da5pz40rvqocl
      type: object
      description: Information on resources that are found under this resource.
      properties:
        links:
          $ref: '#/components/schemas/json_api_links_related'
          x-stoplight:
            id: s7etnb8jkm02f
      required:
      - links
    VersionData:
      title: 'Version Data:'
      description: A container of data describing a version.
      x-stoplight:
        id: eb2zg50zz7eul
      type: object
      properties:
        type:
          $ref: '#/components/schemas/type_version'
        id:
          type: string
          minLength: 1
          description: URN of the version object.
        attributes:
          $ref: '#/components/schemas/VersionAttributes'
        relationships:
          type: object
          description: Contains information on other resources related to this resource.
          required:
          - item
          - refs
          - links
          properties:
            item:
              type: object
              description: Contains information about the item this is a version of.
              properties:
                links:
                  $ref: '#/components/schemas/json_api_links_related'
                  x-stoplight:
                    id: fklud6hg20fwz
                data:
                  $ref: '#/components/schemas/json_api_type_id'
                  x-stoplight:
                    id: g661wq5zxnxxz
            refs:
              $ref: '#/components/schemas/json_api_relationships_links_refs'
            links:
              $ref: '#/components/schemas/json_api_relationships_links_links'
            storage:
              type: object
              x-stoplight:
                id: p77erscy2c106
              description: Contains information about the storage location that contains the binary data of this version.
              properties:
                data:
                  $ref: '#/components/schemas/json_api_type_id'
                meta:
                  $ref: '#/components/schemas/json_api_meta_link'
            derivatives:
              type: object
              x-stoplight:
                id: 1by3hohlaohio
              description: Contains information you can use to retrieve the derivatives of this version.
              properties:
                data:
                  $ref: '#/components/schemas/json_api_type_id'
                meta:
                  $ref: '#/components/schemas/json_api_meta_link'
            thumbnails:
              type: object
              x-stoplight:
                id: hrzlgcn3r896v
              description: 'Contains the information required to retrieve thumbnails of this version from the Model Derivative service. '
              properties:
                data:
                  $ref: '#/components/schemas/json_api_type_id'
                meta:
                  $ref: '#/components/schemas/json_api_meta_link'
            downloadFormats:
              type: object
              x-stoplight:
                id: r875g22qvyi3v
              description: Contains the endpoint you can use to find out what formats the version can be downloaded as.
              properties:
                links:
                  $ref: '#/components/schemas/json_api_links_related'
                  x-stoplight:
                    id: 41n0be6z8nbng
        links:
          $ref: '#/components/schemas/json_api_links_self_and_web_view'
      required:
      - type
      - id
      - attributes
      - relationships
    base_attributes_extension_object_with_schema_link:
      title: 'base_attributes_extension_object_with_schema_link:'
      x-stoplight:
        id: aj8zaihf7alzp
      type: object
      description: A container of additional properties that extends this resource.
      properties:
        type:
          type: string
          x-stoplight:
            id: jdli2qhh88jq3
          description: The Type ID of the schema that defines the structure of the ``extension.data`` object.
        version:
          type: string
          x-stoplight:
            id: x1l84lpe0ce01
          description: The version of the schema that applies to the ``extension.data`` object.
        schema:
          type: object
          x-stoplight:
            id: el8fixpzd4k3a
          description: A container for the hyperlink to the schema of the type.
          required:
          - href
          properties:
            href:
              type: string
              x-stoplight:
                id: oh11qown58iob
              description: A hypertext reference to the location of the referenced resource.
        data:
          type: object
          x-stoplight:
            id: 5h0r1ilaapxra
          description: The object that contains the additional properties that extends this resource.
          additionalProperties:
            type: object
            description: 'Key-value pairs that contain the name and data of additional properties.

              '
      required:
      - type
      - version
      - schema
    type_version:
      type: string
      x-stoplight:
        id: f8e280dd63a5b
      enum:
      - versions
      description: The type of the resource. Possible values are ``versions``.
    type_item:
      type: string
      enum:
      - items
      description: The type of the resource. Possible values are ``items``.
    folder_extension_with_schema_link:
      type: object
      description: A container of additional properties that extends the default properties of this resource.
      properties:
        type:
          type: string
          minLength: 1
          description: The type of folder the resource represents.
        version:
          type: string
          minLength: 1
          description: The version of the folder type.
        schema:
          $ref: '#/components/schemas/json_api_link'
        data:
          type: object
          additionalProperties:
            type: object
            description: 'JSON objects that contain additional properties specific to the folder type.

              '
          description: The object that contains the additional properties, which makes this resource extensible.
      required:
      - type
      - version
      - schema
    MetaRefs:
      description: Metadata on the resources referenced by this resource.
      type: object
      title: MetaRefs
      properties:
        refType:
          $ref: '#/components/schemas/type_ref'
        direction:
          $ref: '#/components/schemas/metarefs_direction'
        fromId:
          type: string
          x-stoplight:
            id: u4hxp7i1mdfuh
          description: The ID of the resource from where data flows.
        fromType:
          $ref: '#/components/schemas/type_entity'
          x-stoplight:
            id: e061oc1d2clmi
        toId:
          type: string
          x-stoplight:
            id: 4hwdw63giy88s
          description: The ID of the resource to where the data flows.
        toType:
          $ref: '#/components/schemas/type_entity'
          x-stoplight:
            id: xnhp75ludslo9
        extension:
          $ref: '#/components/schemas/base_attributes_extension_object_with_schema_link'
          x-stoplight:
            id: wnoe4cjsepp56
    FolderPayload:
      description: Describe the folder to be created.
      x-stoplight:
        id: 4dfe49f8c9ec7
      type: object
      x-examples:
        example-1:
          jsonapi:
            version: '1.0'
          data:
            type: folders
            attributes:
              name: Plans
              extension:
                type: folders:autodesk.core:Folder
                version: '1.0'
            relationships:
              parent:
                data:
                  type: folders
                  id: urn:adsk.wipprod:dm.folder:sdfedf8wefl
      title: FolderPayload
      properties:
        jsonapi:
          $ref: '#/components/schemas/json_api_version'
        data:
          type: object
          description: The data that describes the folder to be created.
          required:
          - type
          - attributes
          - relationships
          properties:
            type:
              $ref: '#/components/schemas/type_folder'
            attributes:
              type: object
              description: The properties of the folder to be created.
              required:
              - name
              - extension
              properties:
                name:
                  type: string
                  minLength: 1
                  description: 'The name of the new folder (1-255 characters).


                    Avoid using the following reserved characters in the name: ``<``, ``>``, ``:``, ``"``, ``/``, ``\``, ``|``, ``?``, ``*``, ``''``, ``\n``, ``\r``, ``\t``, ``\0``, ``\f``, ``¢``, ``™``, ``$``, ``®``.


                    If you assign the name of a deleted folder to this folder, and later you decide to restore the deleted folder, you will have to rename the deleted folder.

                    '
                extension:
                  type: object
                  description: A container of additional properties that extends the default properties of this resource.
                  required:
                  - type
                  - version
                  properties:
                    type:
                      type: string
                      minLength: 1
                      description: 'The type of the extension.


                        For BIM 360 Docs folders, use ``folders:autodesk.bim360:Folder``.


                        For all other services, use ``folders:auto``'
                    version:
                      type: string
                      minLength: 1
                      description: The version of the type. The current version is ``1.0``.
                    data:
                      type: object
                      description: 'The container of additional properties.


                        The additional properties must follow the schema specified by ``type`` and ``version``. Properties that don''t follow the schema will be ignored.'
            relationships:
              type: object
              description: A container of links to resources that are related to the folder to be created.
              required:
              - parent
              properties:
                parent:
                  type: object
                  description: Information about the parent of the new folder in the folder hierarchy.
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      description: The data about the parent of the folder to be created.
                      required:
                      - type
                      - id
                      properties:
                        type:
                          $ref: '#/components/schemas/type_folder'
                        id:
                          type: string
                          minLength: 1
                          description: "The URN of the parent folder. For information on how to find the URN, see the initial steps of the [Download a File](/en/docs/data/v2/tutorials/download-file/) tutorial.\n\nNote that for BIM 360 Docs, new folders must be created within an existing folder (e.g., the Plans or Project Files folders), \nand not directly within the root folder. Permissions, visibility (e.g., ``items:autodesk.bim360:Document`` or ``items:autodesk.bim360:File``), \nand actions (e.g., OCR) are inherited from the existing parent folder. New folders also inherit subscriptions such as the \nnotifications sent when files are added to a folder.\n"
      required:
      - jsonapi
      - data
    json_api_link:
      title: json_api_link
      x-stoplight:
        id: 0eyqmow1ie1is
      type: object
      description: An object containing the hyperlink to the referenced resource.
      properties:
        href:
          type: string
          x-stoplight:
            id: d9k2el45bomh9
          description: A hypertext reference to the location of the referenced resource.
      required:
      - href
    json_api_links_related:
      title: json_api_links_related
      x-stoplight:
        id: fgwxlu5412wa7
      type: object
      description: Contains the endpoint you can use to retrieve the related resources.
      properties:
        related:
          type: object
          x-stoplight:
            id: o5ksk96io3pui
          description: "An object containing the endpoint to retrieve \na list of related resources."
          properties:
            href:
              type: string
              x-stoplight:
                id: n8345byjqrj4f
              description: The URI of the endpoint that returns the related resources.
    json_api_relationships_links_links:
      type: object
      required:
      - links
      description: Information on the link resources found in this resource.
      properties:
        links:
          type: object
          required:
          - self
          description: The object containing information on links to this resource.
          properties:
            self:
              $ref: '#/components/schemas/json_api_link'
    json_api_relationships_links_to_tip_version:
      title: json_api_relationships_links_to_tip_version
      x-stoplight:
        id: qmmyfor4fmle9
      type: object
      description: Information about the latest version of the item.
      properties:
        links:
          $ref: '#/components/schemas/json_api_links_related'
          x-stoplight:
            id: e35szkgp1o7b8
        data:
          $ref: '#/components/schemas/json_api_type_id'
          x-stoplight:
            id: zdowc6ik9vvcu
    json_api_version:
      title: json_api_version
      x-stoplight:
        id: wtcnivkdziwr7
      type: object
      description: The JSON API object.
      properties:
        version:
          description: The version of JSON API. Will always be ``1.0``.
          $ref: '#/components/schemas/json_api_version_value'
      required:
      - version
    filter_direction:
      type: string
      enum:
      - from
      - to
      description: 'Filter by the direction of the reference. Possible values: ``from`` and ``to``.'
    json_api_relationships_links_refs:
      type: object
      required:
      - links
      description: Information on other resources that have a custom relationship with this resource.
      properties:
        links:
          type: object
          required:
          - self
          - related
          description: The object containing information on links of related resources that share a custom relationship with this resource.
          properties:
            self:
              $ref: '#/components/schemas/json_api_link'
            related:
              $ref: '#/components/schemas/json_api_link'
    RelationshipRefs:
      description: ''
      x-stoplight:
        id: b8ed6741f539a
      type: object
      x-examples:
        example-1:
          jsonapi:
            version: '1.0'
          links:
            self:
              href: /data/v1/projects/b.5ae9543e-abd5-45c5-8718-33d26652267f/items/urn:adsk.wipprod:dm.lineage:b909RzMKR4mhc3O7UBY_8g/relationships/refs
            related:
              href: /data/v1/projects/b.5ae9543e-abd5-45c5-8718-33d26652267f/items/urn:adsk.wipprod:dm.lineage:b909RzMKR4mhc3O7UBY_8g/refs
          data:
          - type: items
            id: urn:adsk.wipprod:fs.file:vf.b909RzMKR4mhc3O7UBY_8g?version=2
            meta:
              refType: xrefs
              fromId: urn:adsk.wipprod:fs.file:vf.b909RzMKR4mhc3O7UBY_8g?version=2
              fromType: versions
              toId: urn:adsk.wipprod:dm.lineage:b909RzMKR4mhc3O7UBY_8g
              toType: items
              direction: from
              extension:
                type: xrefs:my.custom:Xref
                version: '1.0'
                schema:
                  href: /schema/v1/versions/xrefs:my.custom:Xref-1.0
                data: {}
          included:
          - type: versions
            id: urn:adsk.wipprod:fs.file:vf.b909RzMKR4mhc3O7UBY_8g?version=2
            attributes:
              name: version-test.pdf
              displayName: version-test.pdf
              createTime: '2016-04-01T11:12:35.000Z'
              createUserId: BW9RM76WZBGL
              createUserName: John Doe
              lastModifiedTime: '2016-04-01T11:15:22.000Z'
              lastModifiedUserId: BW9RM76WZBGL
              lastModifiedUserName: John Doe
              versionNumber: 2
              mimeType: application/pdf
              extension:
                type: versions:autodesk.bim360:File
                version: '1.0'
                schema:
                  href: /schema/v1/versions/versions%3Aautodesk.bim360%3AFile-1.0
                data:
                  tempUrn: null
                  properties: {}
                  storageUrn: urn:adsk.objects:os.object:wip.dm.prod/9f8bdc3f-e29c-4ada-ab7b-bb8dfa821163.pdf
                  storageType: OSS
                  conformingStatus: NONE
            links:
              self:
                href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn%3Aadsk.wipprod%3Afs.file%3Avf.b909RzMKR4mhc3O7UBY_8g%3Fversion%3D2
              webView:
                href: https://docs.b360.autodesk.com/projects/c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/folders/urn%3Aadsk.wipprod%3Afs.folder%3Aco.0J4paz_FQgWPX2QRsaBkiw/detail/viewer/items/urn%3Aadsk.wipprod%3Afs.file%3Avf.b909RzMKR4mhc3O7UBY_8g%3Fversion%3D2
            relationships:
              item:
                links:
                  related:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn%3Aadsk.wipprod%3Adm.lineage%3Ab909RzMKR4mhc3O7UBY_8g
                data:
                  type: items
                  id: urn:adsk.wipprod:dm.lineage:b909RzMKR4mhc3O7UBY_8g
              refs:
                links:
                  self:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn%3Aadsk.wipprod%3Afs.file%3Avf.b909RzMKR4mhc3O7UBY_8g%3Fversion%3D2/relationships/refs
                  related:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn%3Aadsk.wipprod%3Afs.file%3Avf.b909RzMKR4mhc3O7UBY_8g%3Fversion%3D2/refs
              links:
                links:
                  self:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn%3Aadsk.wipprod%3Afs.file%3Avf.b909RzMKR4mhc3O7UBY_8g%3Fversion%3D2/relationships/links
              storage:
                meta:
                  link:
                    href: /oss/v2/buckets/wipbucket/objects/9f8bdc3f-e29c-4ada-ab7b-bb8dfa821163.pdf?scopes=b360project.6f8813fe-31a7-4440-bc63-d8ca97c856b4,global,O2tenant.tenantId
                data:
                  type: objects
                  id: urn:adsk.objects:os.object:wip.dm.prod/9f8bdc3f-e29c-4ada-ab7b-bb8dfa821163.pdf
          - type: versions
            id: urn:adsk.wipprod:fs.file:vf.b909RzMKR4mhc3O7UBY_8g?version=1
            attributes:
              name: version-test.pdf
              displayName: version-test.pdf
              createTime: '2016-04-01T11:09:03.000Z'
              createUserId: BW9RM76WZBGL
              createUserName: John Doe
              lastModifiedTime: '2016-04-01T11:11:18.000Z'
              lastModifiedUserId: BW9RM76WZBGL
              lastModifiedUserName: John Doe
              versionNumber: 1
              mimeType: application/pdf
              extension:
                type: versions:autodesk.bim360:File
                version: '1.0'
                schema:
                  href: /schema/v1/versions/versions%3Aautodesk.bim360%3AFile-1.0
                data:
                  tempUrn: null
                  properties: {}
                  storageUrn: urn:adsk.objects:os.object:wip.dm.prod/3c8f6bbc-fe5c-4815-a92e-8b8635e7b1cb.pdf
                  storageType: OSS
                  conformingStatus: NONE
            links:
              self:
                href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn%3Aadsk.wipprod%3Afs.file%3Avf.b909RzMKR4mhc3O7UBY_8g%3Fversion%3D1
              webView:
                href: https://docs.b360.autodesk.com/projects/c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/folders/urn%3Aadsk.wipprod%3Afs.folder%3Aco.0J4paz_FQgWPX2QRsaBkiw/detail/viewer/items/urn%3Aadsk.wipprod%3Afs.file%3Avf.b909RzMKR4mhc3O7UBY_8g%3Fversion%3D1
            relationships:
              item:
                links:
                  related:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn%3Aadsk.wipprod%3Adm.lineage%3Ab909RzMKR4mhc3O7UBY_8g
                data:
                  type: items
                  id: urn:adsk.wipprod:dm.lineage:b909RzMKR4mhc3O7UBY_8g
              refs:
                links:
                  self:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn%3Aadsk.wipprod%3Afs.file%3Avf.b909RzMKR4mhc3O7UBY_8g%3Fversion%3D1/relationships/refs
                  related:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn%3Aadsk.wipprod%3Afs.file%3Avf.b909RzMKR4mhc3O7UBY_8g%3Fversion%3D1/refs
              links:
                links:
                  self:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn%3Aadsk.wipprod%3Afs.file%3Avf.b909RzMKR4mhc3O7UBY_8g%3Fversion%3D1/relationships/links
              storage:
                meta:
                  link:
                    href: /oss/v2/buckets/wipbucket/objects/3c8f6bbc-fe5c-4815-a92e-8b8635e7b1cb.pdf?scopes=b360project.6f8813fe-31a7-4440-bc63-d8ca97c856b4,global,O2tenant.tenantId
                data:
                  type: objects
                  id: urn:adsk.objects:os.object:wip.dm.prod/3c8f6bbc-fe5c-4815-a92e-8b8635e7b1cb.pdf
          - type: items
            id: urn:adsk.wipprod:dm.lineage:b909RzMKR4mhc3O7UBY_8g
            attributes:
              displayName: version-test.pdf
              createTime: '2016-04-01T11:09:03.000Z'
              createUserId: BW9RM76WZBGL
              createUserName: John Doe
              lastModifiedTime: '2016-04-01T11:11:18.000Z'
              lastModifiedUserId: BW9RM76WZBGL
              lastModifiedUserName: John Doe
              hidden: false
              reserved: true
              reservedTime: '2016-04-01T11:10:00.000Z'
              reservedUserId: BW9RM76WZBGL
              reservedUserName: John Doe
              extension:
                data: {}
                version: '1.0'
                type: items:autodesk.bim360:File
                schema:
                  href: https://developer.api.autodesk.com/schema/v1/versions/items%3Aautodesk.bim360%3AFile-1.0
            relationships:
              tip:
                data:
                  type: versions
                  id: urn:adsk.wipprod:fs.file:vf.b909RzMKR4mhc3O7UBY_8g?version=2
                links:
                  related:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn%3Aadsk.wipprod%3Adm.lineage%3AhC6k4hndRWaeIVhIjvHu8w/tip
              parent:
                data:
                  type: folders
                  id: urn:adsk.wipprod:dm.folder:sdfedf8wefl
                links:
                  related:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn:adsk.wipprod:dm.lineage:b909RzMKR4mhc3O7UBY_8g/parent
              versions:
                links:
                  related:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn:adsk.wipprod:dm.lineage:b909RzMKR4mhc3O7UBY_8g/versions
              refs:
                links:
                  self:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn:adsk.wipprod:dm.lineage:b909RzMKR4mhc3O7UBY_8g/relationships/refs
                  related:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn:adsk.wipprod:dm.lineage:b909RzMKR4mhc3O7UBY_8g/refs
              links:
                links:
                  self:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn:adsk.wipprod:dm.lineage:b909RzMKR4mhc3O7UBY_8g/relationships/links
            links:
              self:
                href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn:adsk.wipprod:dm.lineage:b909RzMKR4mhc3O7UBY_8g
              webView:
                href: https://docs.b360.autodesk.com/projects/c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/folders/urn%3Aadsk.wipprod%3Afs.folder%3Aco.0J4paz_FQgWPX2QRsaBkiw/detail/viewer/items/urn:adsk.wipprod:dm.lineage:b909RzMKR4mhc3O7UBY_8g
      title: RelationshipRefs
      properties:
        jsonapi:
          $ref: '#/components/schemas/json_api_version'
        links:
          oneOf:
          - $ref: '#/components/schemas/json_api_links_self'
            x-stoplight:
              id: ncsj1gqlzx0w1
          - $ref: '#/components/schemas/json_api_links_related'
            x-stoplight:
              id: 6typpmchmdrk0
          description: Information on links to this resource.
        data:
          type: array
          uniqueItems: true
          minItems: 1
          description: An array of objects where each object represents the data of a folder, item, or resource.
          items:
            type: object
            properties:
              type:
                $ref: '#/components/schemas/type_entity'
                x-stoplight:
                  id: h9tic0vwmri2v
              id:
                type: string
                x-stoplight:
                  id: x2owtaamfdr3z
                description: The ID that uniquely identifies the resource.
              meta:
                $ref: '#/components/schemas/MetaRefs'
                x-stoplight:
                  id: rp3g1jl3ze12n
        included:
          type: array
          x-stoplight:
            id: 5qk2m98clernk
          description: An array of objects, where each object represents a folder, item, or version included within this resource.
          items:
            x-stoplight:
              id: i9y1frfztzdsr
            oneOf:
            - $ref: '#/components/schemas/FolderData'
              x-stoplight:
                id: xmpzaxcb1y34e
            - $ref: '#/components/schemas/ItemData'
              x-stoplight:
                id: hd6qe25i2uegf
            - $ref: '#/components/schemas/VersionData'
              x-stoplight:
                id: byujkhsqw5k90
            discriminator:
              propertyName: type
              mapping:
                folders: '#/components/schemas/FolderData'
                items: '#/components/schemas/ItemData'
                versions: '#/components/schemas/VersionData'
    metarefs_direction:
      type: string
      x-stoplight:
        id: 506556039042a
      enum:
      - from
      - to
      description: 'Describes the direction of data flow in the relationship. Possible values are:


        - ``to`` - Data flows from this resource to the related resource.

        - ``from`` - Data flows from the related resource to this resource. '
    PaginationInfo:
      title: PaginationInfo
      x-stoplight:
        id: izgy4eslaw38w
      type: object
      description: An object that is returned with responses that can be split across multiple pages. "Next," "Previous," and "First" are available only if the response is split across multiple pages.
      properties:
        self:
          type: object
          x-stoplight:
            id: dc46tnxbc2ulb
          description: A container for the link to the current page of the response.
          properties:
            href:
              type: string
              x-stoplight:
                id: ljxuu5c8q9luz
              description: A hypertext reference to the location of the referenced resource.
        first:
          type: object
          x-stoplight:
            id: hnog0slu3ma0c
          description: A container for the link to the first page of the response.
          properties:
            href:
              type: string
              x-stoplight:
                id: g7npt0viv619d
              description: A hypertext reference to the location of the referenced resource.
        next:
          type: object
          x-stoplight:
            id: dc46tnxbc2ulb
          description: A container for the link to the next page of the response.
          properties:
            href:
              type: string
              x-stoplight:
                id: ljxuu5c8q9luz
              description: A hypertext reference to the location of the referenced resource.
        prev:
          type: object
          x-stoplight:
            id: dc46tnxbc2ulb
          description: A container for the link to the previous page of the response.
          properties:
            href:
              type: string
              x-stoplight:
                id: ljxuu5c8q9luz
              description: A hypertext reference to the location of the referenced resource.
      required:
      - self
    filter_type_version_internal:
      type: array
      items:
        $ref: '#/components/schemas/filter_type_version'
      description: Filter by the ``type`` of the ``ref`` target. Supported values include ``folders``, ``items``, and ``versions``.
    filter_refType:
      type: string
      enum:
      - derived
      - dependencies
      - auxiliary
      - xrefs
      - includes
      description: 'Filter by ``refType``. Possible values: ``derived``, ``dependencies``, ``auxiliary``, ``xrefs``, and ``includes``.'
    version_extension_with_schema_link:
      type: object
      description: A container of additional properties that extends the default properties of a version.
      properties:
        type:
          type: string
          description: The Type ID of the schema that defines the structure of the ``extension.data`` object.
        version:
          type: string
          description: The version of the schema that applies to the ``extension.data`` object.
        schema:
          $ref: '#/components/schemas/json_api_link'
        data:
          type: object
          description: The object that contains the additional properties, which makes this resource extensible.
          additionalProperties:
            type: object
            description: 'Key-value pairs that contain the name and data of additional properties.

              '
      required:
      - type
      - version
      - schema
      title: ''
    item_extension_with_schema_link:
      type: object
      x-stoplight:
        id: 7vkthmto6jc8p
      description: A container of additional properties that extends the default properties of this resource.
      properties:
        type:
          type: string
          description: The Type ID of the schema that defines the structure of the ``extension.data`` object.
        version:
          type: string
          description: The version of the schema that applies to the ``extension.data`` object.
        schema:
          $ref: '#/components/schemas/json_api_link'
        data:
          type: object
          description: The object that contains the additional properties that extends this resource.
          additionalProperties:
            type: object
            description: 'Key-value pairs that contain the name and data of additional properties.

              '
      required:
      - type
      - version
      - schema
    json_api_links_self_and_web_view:
      title: json_api_links_self_and_web_view
      x-stoplight:
        id: go4472ydw5y6e
      type: object
      description: Information on links to this resource.
      required:
      - self
      properties:
        self:
          $ref: '#/components/schemas/json_api_link'
        webView:
          $ref: '#/components/schemas/web_view_link'
    RelationshipRefsPayload:
      description: An object that describes the custom relationship to be created.
      type: object
      x-examples:
        example-1:
          jsonapi:
            version: '1.0'
          data:
            type: versions
            id: urn:adsk.wipprod:fs.file:vf.ooWjwAQJR0uEoPRyfEnvew?version=1
            meta:
              extension:
                type: auxiliary:autodesk.core:Attachment
                version: '1.0'
      title: RelationshipRefsPayload
      properties:
        jsonapi:
          $ref: '#/components/schemas/json_api_version'
        data:
          type: object
          description: A container for the data that describes the custom relationship.
          required:
          - type
          - id
          - meta
          properties:
            type:
              $ref: '#/components/schemas/type_entity'
            id:
              type: string
              minLength: 1
              description: The ID that uniquely identifies the resource.
            meta:
              type: object
              description: The meta-information about this resource.
              required:
              - extension
              properties:
                extension:
                  $ref: '#/components/schemas/base_attributes_extension_object_without_schema_link'
      required:
      - jsonapi
      - data
    filter_type_internal:
      type: array
      items:
        $ref: '#/components/schemas/filter_type'
      description: Filter by the type of the objects in the folder. Supported values are ``folders`` and ``items``.
    RelationshipLinks:
      description: An object containing relationship links of a resource.
      type: object
      x-examples:
        example-1:
          jsonapi:
            version: '1.0'
          links:
            self:
              href: /data/v1/projects/{some_project_id}/folders/{some_folder_id}/relationships/links
          data:
          - type: links
            id: 96af4f60-53b8-4efe-b890-1eaa9ea5cb08
            meta:
              link:
                href: /oss/v2/buckets/wipbucket/objects/myfolder.zip
              data:
                type: objects
                id: urn:adsk.objects:os.object:wipbucket/myfolder.zip
              mimeType: application/x-zip-compressed
              extension:
                type: links:A360:DownloadArchiveFolder
                version: '1.0'
                schema:
                  href: /schema/v1/versions/links%3AA360%3ADownloadArchiveFolder-1.0
                data:
                  createdTime: '2015-05-22T14:56:28.000Z'
          - type: links
            id: cf755d5e-7876-41c2-a58e-2175f9b0cd4b
            meta:
              link:
                href: /a360/v2/items/{a360folder_id}/create_archive
              extension:
                type: links:A360:CreateFolderArchive
                version: '1.0'
                schema:
                  href: /schema/v1/versions/links%3AA360%3ACreateFolderArchive-1.0
      title: RelationshipLinks
      properties:
        jsonapi:
          $ref: '#/components/schemas/json_api_version'
        links:
          $ref: '#/components/schemas/json_api_links_self'
        data:
          type: array
          uniqueItems: true
          minItems: 1
          description: An array of objects where each object represents link.
          items:
            type: object
            properties:
              type:
                $ref: '#/components/schemas/type_link'
              id:
                type: string
                minLength: 1
                description: The ID of the resource.
              meta:
                type: object
                description: The meta-information of the links of this resource.
                properties:
                  link:
                    $ref: '#/components/schemas/json_api_link'
                  data:
                    type: object
                    description: The object containing meta-information on the data of the links of this resource.
                    properties:
                      type:
                        type: string
                        minLength: 1
                        description: The type of the resource data.
                      id:
                        type: string
                        minLength: 1
                        description: The ID or URN of the resource.
                  mimeType:
                    type: string
                    minLength: 1
                    description: The MIME type of the content of the resource.
                  extension:
                    $ref: '#/components/schemas/base_attributes_extension_object_with_schema_link'
    Folder:
      description: An object that represents a folder.
      type: object
      x-examples:
        example-1:
          jsonapi:
            version: '1.0'
          links:
            self:
              href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/folders/urn%3Aadsk.wipprod%3Adm.folder%3AhC6k4hndRWaeIVhIjvHu8w
          data:
            type: folders
            id: urn:adsk.wipprod:dm.folder:hC6k4hndRWaeIVhIjvHu8w
            attributes:
              name: Plans
              displayName: Plans
              createTime: '2015-11-27T11:11:23.000Z'
              createUserId: BW9RM76WZBGL
              createUserName: John Doe
              lastModifiedTime: '2015-11-27T11:11:27.000Z'
              lastModifiedUserId: BW9RM76WZBGL
              lastModifiedUserName: John Doe
              lastModifiedTimeRollup: '2015-11-27T11:11:27.000Z'
              objectCount: 4
              hidden: false
              extension:
                type: folders:autodesk.bim360:Folder
                version: '1.0'
                schema:
                  href: https://developer.api.autodesk.com/schema/v1/versions/folders%3Aautodesk.bim360%3AFolder-1.0
                data:
                  allowedTypes:
                  - folders
                  - items:autodesk.bim360:File
                  - items:autodesk.bim360:Document
                  - items:autodesk.bim360:TitleBlock
                  visibleTypes:
                  - folders
                  - items:autodesk.bim360:Document
                  namingStandardIds: []
            links:
              self:
                href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/folders/urn%3Aadsk.wipprod%3Adm.folder%3AhC6k4hndRWaeIVhIjvHu8w
              webView:
                href: https://docs.b360.autodesk.com/projects/c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/folders/urn%3Aadsk.wipprod%3Adm.folder%3AhC6k4hndRWaeIVhIjvHu8w
            relationships:
              parent:
                links:
                  related:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/folders/urn%3Aadsk.wipprod%3Adm.folder%3AhC6k4hndRWaeIVhIjvHu8w/parent
                data:
                  type: folders
                  id: urn:adsk.wipprod:dm.folder:sdfedf8wefl
              refs:
                links:
                  self:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/folders/urn%3Aadsk.wipprod%3Adm.folder%3AhC6k4hndRWaeIVhIjvHu8w/relationships/refs
                  related:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/folders/urn%3Aadsk.wipprod%3Adm.folder%3AhC6k4hndRWaeIVhIjvHu8w/refs
              links:
                links:
                  self:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/folders/urn%3Aadsk.wipprod%3Adm.folder%3AhC6k4hndRWaeIVhIjvHu8w/relationships/links
              contents:
                links:
                  related:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/folders/urn%3Aadsk.wipprod%3Adm.folder%3AhC6k4hndRWaeIVhIjvHu8w/contents
      title: Folder
      properties:
        jsonapi:
          $ref: '#/components/schemas/json_api_version'
        links:
          $ref: '#/components/schemas/json_api_links_self'
        data:
          $ref: '#/components/schemas/FolderData'
    Search:
      description: Successful retrieval of the search results.
      type: object
      x-examples:
        example-1:
          jsonapi:
            version: '1.0'
          data:
          - type: versions
            id: urn:adsk.wipprod:fs.file:vf.4cW918j8QsynzG0oZ6_Nbg?version=1
            attributes:
              name: sample.txt
              displayName: sample.txt
              createTime: '2016-11-09T13:11:27+00:00'
              createUserId: BW9RM76WZBGL
              createUserName: John Doe
              lastModifiedTime: '2016-11-09T13:11:36+00:00'
              lastModifiedUserId: BW9RM76WZBGL
              lastModifiedUserName: John Doe
              versionNumber: 1
              fileType: txt
              extension:
                type: versions:autodesk.bim360:File
                version: '1.0'
                schema:
                  href: /schema/v1/versions/versions%3Aautodesk.bim360%3AFile-1.0
                data:
                  processState: PROCESSING_COMPLETE
                  extractionState: UNSUPPORTED
                  splittingState: NOT_SPLIT
                  conformingStatus: NONE
            links:
              self:
                href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn%3Aadsk.wipprod%3Afs.file%3Avf.4cW918j8QsynzG0oZ6_Nbg%3Fversion%3D1
              webView:
                href: https://docs.b360.autodesk.com/projects/c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/folders/urn%3Aadsk.wipprod%3Afs.folder%3Aco.0J4paz_FQgWPX2QRsaBkiw/detail/viewer/items/urn%3Aadsk.wipprod%3Afs.file%3Avf.4cW918j8QsynzG0oZ6_Nbg%3Fversion%3D1
            relationships:
              item:
                data:
                  type: items
                  id: urn:adsk.wipprod:dm.lineage:4cW918j8QsynzG0oZ6_Nbg
                links:
                  related:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn%3Aadsk.wipprod%3Afs.file%3Avf.4cW918j8QsynzG0oZ6_Nbg%3Fversion%3D1/item
              links:
                links:
                  self:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn%3Aadsk.wipprod%3Afs.file%3Avf.4cW918j8QsynzG0oZ6_Nbg%3Fversion%3D1/relationships/links
              refs:
                links:
                  self:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn%3Aadsk.wipprod%3Afs.file%3Avf.4cW918j8QsynzG0oZ6_Nbg%3Fversion%3D1/relationships/refs
                  related:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn%3Aadsk.wipprod%3Afs.file%3Avf.4cW918j8QsynzG0oZ6_Nbg%3Fversion%3D1/refs
              downloadFormats:
                links:
                  related:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn%3Aadsk.wipprod%3Afs.file%3Avf.4cW918j8QsynzG0oZ6_Nbg%3Fversion%3D1/downloadFormats
              derivatives:
                data:
                  type: derivatives
                  id: dXJuOmFkc2sud2lwc3RnOmZzLmZpbGU6dmYuNGNXOTE4ajhRc3luekcwb1o2X05iZz92ZXJzaW9uPTE
                meta:
                  link:
                    href: /modelderivative/v2/designdata/dXJuOmFkc2sud2lwc3RnOmZzLmZpbGU6dmYuNGNXOTE4ajhRc3luekcwb1o2X05iZz92ZXJzaW9uPTE/manifest?scopes=b360project.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d,global,O2tenant.tenantId
              thumbnails:
                data:
                  type: thumbnails
                  id: dXJuOmFkc2sud2lwc3RnOmZzLmZpbGU6dmYuNGNXOTE4ajhRc3luekcwb1o2X05iZz92ZXJzaW9uPTE
                meta:
                  link:
                    href: /modelderivative/v2/designdata/dXJuOmFkc2sud2lwc3RnOmZzLmZpbGU6dmYuNGNXOTE4ajhRc3luekcwb1o2X05iZz92ZXJzaW9uPTE/thumbnail?scopes=b360project.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d,global,O2tenant.tenantId
              storage:
                data:
                  type: objects
                  id: urn:adsk.objects:os.object:wip.dm.prod/095f7c56-2373-4831-9485-e3546dd501ba.txt
                meta:
                  link:
                    href: /oss/v2/buckets/wip.dm.prod/objects/095f7c56-2373-4831-9485-e3546dd501ba.txt?scopes=b360project.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d,global,O2tenant.tenantId
          - type: versions
            id: urn:adsk.wipprod:fs.file:vf.jts1sOfCS6mdwCV38lKpGQ?version=1
            attributes:
              name: sample.pdf
              displayName: sample.pdf
              createTime: '2016-11-09T13:13:09+00:00'
              createUserId: BW9RM76WZBGL
              createUserName: John Doe
              lastModifiedTime: '2016-11-09T13:13:42+00:00'
              lastModifiedUserId: BW9RM76WZBGL
              lastModifiedUserName: John Doe
              versionNumber: 1
              fileType: pdf
              extension:
                type: versions:autodesk.bim360:File
                version: '1.0'
                schema:
                  href: /schema/v1/versions/versions%3Aautodesk.bim360%3AFile-1.0
                data:
                  processState: PROCESSING_COMPLETE
                  extractionState: SUCCESS
                  splittingState: NOT_SPLIT
                  reviewState: NOT_IN_REVIEW
                  conformingStatus: NONE
            links:
              self:
                href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn%3Aadsk.wipprod%3Afs.file%3Avf.jts1sOfCS6mdwCV38lKpGQ%3Fversion%3D1
              webView:
                href: https://docs.b360.autodesk.com/projects/c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/folders/urn%3Aadsk.wipprod%3Afs.folder%3Aco.0J4paz_FQgWPX2QRsaBkiw/detail/viewer/items/urn%3Aadsk.wipprod%3Afs.file%3Avf.jts1sOfCS6mdwCV38lKpGQ%3Fversion%3D1
            relationships:
              item:
                data:
                  type: items
                  id: urn:adsk.wipprod:dm.lineage:jts1sOfCS6mdwCV38lKpGQ
                links:
                  related:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn%3Aadsk.wipprod%3Afs.file%3Avf.jts1sOfCS6mdwCV38lKpGQ%3Fversion%3D1/item
              links:
                links:
                  self:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn%3Aadsk.wipprod%3Afs.file%3Avf.jts1sOfCS6mdwCV38lKpGQ%3Fversion%3D1/relationships/links
              refs:
                links:
                  self:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn%3Aadsk.wipprod%3Afs.file%3Avf.jts1sOfCS6mdwCV38lKpGQ%3Fversion%3D1/relationships/refs
                  related:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn%3Aadsk.wipprod%3Afs.file%3Avf.jts1sOfCS6mdwCV38lKpGQ%3Fversion%3D1/refs
              downloadFormats:
                links:
                  related:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn%3Aadsk.wipprod%3Afs.file%3Avf.jts1sOfCS6mdwCV38lKpGQ%3Fversion%3D1/downloadFormats
              derivatives:
                data:
                  type: derivatives
                  id: dXJuOmFkc2sud2lwc3RnOmZzLmZpbGU6dmYuanRzMXNPZkNTNm1kd0NWMzhsS3BHUT92ZXJzaW9uPTE
                meta:
                  link:
                    href: /modelderivative/v2/designdata/dXJuOmFkc2sud2lwc3RnOmZzLmZpbGU6dmYuanRzMXNPZkNTNm1kd0NWMzhsS3BHUT92ZXJzaW9uPTE/manifest?scopes=b360project.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d,global,O2tenant.tenantId
              thumbnails:
                data:
                  type: thumbnails
                  id: dXJuOmFkc2sud2lwc3RnOmZzLmZpbGU6dmYuanRzMXNPZkNTNm1kd0NWMzhsS3BHUT92ZXJzaW9uPTE
                meta:
                  link:
                    href: /modelderivative/v2/designdata/dXJuOmFkc2sud2lwc3RnOmZzLmZpbGU6dmYuanRzMXNPZkNTNm1kd0NWMzhsS3BHUT92ZXJzaW9uPTE/thumbnail?scopes=b360project.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d,global,O2tenant.tenantId
              storage:
                data:
                  type: objects
                  id: urn:adsk.objects:os.object:wip.dm.prod/f5a8a8e8-9bbc-46cf-bce9-9cc34508c2d4.pdf
                meta:
                  link:
                    href: /oss/v2/buckets/wip.dm.prod/objects/f5a8a8e8-9bbc-46cf-bce9-9cc34508c2d4.pdf?scopes=b360project.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d,global,O2tenant.tenantId
          included:
          - type: items
            id: urn:adsk.wipprod:dm.lineage:4cW918j8QsynzG0oZ6_Nbg
            attributes:
              displayName: sample
              createTime: '2016-11-09T13:11:27+00:00'
              createUserId: BW9RM76WZBGL
              createUserName: John Doe
              lastModifiedTime: '2016-11-09T13:11:36+00:00'
              lastModifiedUserId: BW9RM76WZBGL
              lastModifiedUserName: John Doe
              hidden: false
              reserved: true
              reservedTime: '2016-11-09T13:11:30.000Z'
              reservedUserId: BW9RM76WZBGL
              reservedUserName: John Doe
              extension:
                type: items:autodesk.bim360:File
                version: '1.0'
                schema:
                  href: /schema/v1/versions/items%3Aautodesk.bim360%3AFile-1.0
                data: {}
            links:
              self:
                href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn%3Aadsk.wipprod%3Adm.lineage%3A4cW918j8QsynzG0oZ6_Nbg
              webView:
                href: https://docs.b360.autodesk.com/projects/c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/folders/urn%3Aadsk.wipprod%3Afs.folder%3Aco.0J4paz_FQgWPX2QRsaBkiw/detail/viewer/items/urn%3Aadsk.wipprod%3Adm.lineage%3A4cW918j8QsynzG0oZ6_Nbg
            relationships:
              tip:
                data:
                  type: versions
                  id: urn:adsk.wipprod:fs.file:vf.4cW918j8QsynzG0oZ6_Nbg?version=1
                links:
                  related:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn%3Aadsk.wipprod%3Adm.lineage%3A4cW918j8QsynzG0oZ6_Nbg/tip
              versions:
                links:
                  related:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn%3Aadsk.wipprod%3Adm.lineage%3A4cW918j8QsynzG0oZ6_Nbg/versions
              parent:
                data:
                  type: folders
                  id: urn:adsk.wipprod:fs.folder:co.KJRpLpSXRm66X2HB2Q7AQw
                links:
                  related:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn%3Aadsk.wipprod%3Adm.lineage%3A4cW918j8QsynzG0oZ6_Nbg/parent
              refs:
                links:
                  self:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn%3Aadsk.wipprod%3Adm.lineage%3A4cW918j8QsynzG0oZ6_Nbg/relationships/refs
                  related:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn%3Aadsk.wipprod%3Adm.lineage%3A4cW918j8QsynzG0oZ6_Nbg/refs
              links:
                links:
                  self:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn%3Aadsk.wipprod%3Adm.lineage%3A4cW918j8QsynzG0oZ6_Nbg/relationships/links
          - type: items
            id: urn:adsk.wipprod:dm.lineage:jts1sOfCS6mdwCV38lKpGQ
            attributes:
              displayName: sample
              createTime: '2016-11-09T13:13:09+00:00'
              createUserId: BW9RM76WZBGL
              createUserName: John Doe
              lastModifiedTime: '2016-11-09T13:13:41+00:00'
              lastModifiedUserId: BW9RM76WZBGL
              lastModifiedUserName: John Doe
              hidden: false
              reserved: true
              reservedTime: '2016-11-09T13:13:24.000Z'
              reservedUserId: BW9RM76WZBGL
              reservedUserName: John Doe
              extension:
                type: items:autodesk.bim360:File
                version: '1.0'
                schema:
                  href: /schema/v1/versions/items%3Aautodesk.bim360%3AFile-1.0
                data: {}
            links:
              self:
                href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn%3Aadsk.wipprod%3Adm.lineage%3Ajts1sOfCS6mdwCV38lKpGQ
              webView:
                href: https://docs.b360.autodesk.com/projects/c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/folders/urn%3Aadsk.wipprod%3Afs.folder%3Aco.0J4paz_FQgWPX2QRsaBkiw/detail/viewer/items/urn%3Aadsk.wipprod%3Adm.lineage%3Ajts1sOfCS6mdwCV38lKpGQ
            relationships:
              tip:
                data:
                  type: versions
                  id: urn:adsk.wipprod:fs.file:vf.jts1sOfCS6mdwCV38lKpGQ?version=1
                links:
                  related:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn%3Aadsk.wipprod%3Adm.lineage%3Ajts1sOfCS6mdwCV38lKpGQ/tip
              versions:
                links:
                  related:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn%3Aadsk.wipprod%3Adm.lineage%3Ajts1sOfCS6mdwCV38lKpGQ/versions
              parent:
                data:
                  type: folders
                  id: urn:adsk.wipprod:fs.folder:co.KJRpLpSXRm66X2HB2Q7AQw
                links:
                  related:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn%3Aadsk.wipprod%3Adm.lineage%3Ajts1sOfCS6mdwCV38lKpGQ/parent
              refs:
                links:
                  self:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn%3Aadsk.wipprod%3Adm.lineage%3Ajts1sOfCS6mdwCV38lKpGQ/relationships/refs
                  related:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn%3Aadsk.wipprod%3Adm.lineage%3Ajts1sOfCS6mdwCV38lKpGQ/refs
              links:
                links:
                  self:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn%3Aadsk.wipprod%3Adm.lineage%3Ajts1sOfCS6mdwCV38lKpGQ/relationships/links
      title: Search
      properties:
        jsonapi:
          $ref: '#/components/schemas/json_api_version'
        links:
          $ref: '#/components/schemas/PaginationInfo'
          x-stoplight:
            id: 0s8wyl26n27l2
        data:
          type: array
          uniqueItems: true
          minItems: 1
          description: The object containing information on this resource.
          items:
            $ref: '#/components/schemas/VersionData'
        included:
          type: array
          uniqueItems: true
          minItems: 1
          description: Information on the latest versions of the items in this resource.
          items:
            $ref: '#/components/schemas/ItemData'
      required:
      - jsonapi
      - links
      - data
    json_api_relationships_links_folder_parent:
      title: json_api_relationships_links_folder_parent
      x-stoplight:
        id: qmmyfor4fmle9
      type: object
      description: Information on the parent of this resource in the folder hierarchy.
      properties:
        links:
          $ref: '#/components/schemas/json_api_links_related'
          x-stoplight:
            id: e35szkgp1o7b8
        data:
          $ref: '#/components/schemas/json_api_type_id'
          x-stoplight:
            id: zdowc6ik9vvcu
    ItemAttributes:
      description: Properties of an item.
      title: 'Item Attributes:'
      type: object
      required:
      - displayName
      - createTime
      - createUserId
      - createUserName
      - lastModifiedTime
      - lastModifiedUserId
      - lastModifiedUserName
      - extension
      properties:
        displayName:
          type: string
          minLength: 1
          description: "A human friendly name to identify the item. \nNote that for BIM 360 projects, this attribute is reserved for future releases and should not be used. Use a version's ``attributes.name`` for the file name."
        createTime:
          type: string
          format: date-time
          description: The time that the resource was created at.
        createUserId:
          type: string
          minLength: 1
          description: The ID of the user that created the version.
        createUserName:
          type: string
          minLength: 1
          description: The user name of the user that created the version.
        lastModifiedTime:
          type: string
          format: date-time
          description: The time that the version was last modified.
        lastModifiedUserId:
          type: string
          minLength: 1
          description: The ID of the user that last modified the version.
        lastModifiedUserName:
          type: string
          minLength: 1
          description: The user name of the user that last modified the version.
        hidden:
          type: boolean
          description: "``true``: The file has been deleted. \n\n``false``: The file has not been deleted.\n"
        reserved:
          type: boolean
          description: "``true``: The file is locked.\n\n``false`` The file is not locked. \n\n**Note:** You can lock BIM 360 Project Files folder files and A360 files, but you cannot lock BIM 360 Plans Folder files.\n"
        reservedTime:
          type: string
          format: date-time
          description: 'The time the item was reserved in the following format: ``YYYY-MM-DDThh:mm:ss.sz``.'
        reservedUserId:
          type: string
          description: The unique identifier of the user who reserved the item.
        reservedUserName:
          type: string
          description: The name of the user who reserved the item.
        extension:
          $ref: '#/components/schemas/item_extension_with_schema_link'
        pathInProject:
          type: string
          x-stoplight:
            id: weoan682ts8ft
          description: The relative path of the item starting from project’s root folder.
    json_api_version_value:
      description: The version of JSON API. Will always be ``1.0``.
      type: string
      enum:
      - '1.0'
    filter_type_version:
      type: string
      enum:
      - folders
      - items
      - versions
      description: Filter by the ``type`` of the ``ref`` target. Supported values include ``folders``, ``items``, and ``versions``.
    base_attributes_extension_object_without_schema_link:
      title: 'base_attributes_extension_object_with_schema_link:'
      x-stoplight:
        id: rwbl8xfimitn3
      type: object
      description: A container of additional properties that extends this resource.
      properties:
        type:
          type: string
          x-stoplight:
            id: jdli2qhh88jq3
          description: The Type ID of the schema that defines the structure of the ``extension.data`` object.
        version:
          type: string
          x-stoplight:
            id: x1l84lpe0ce01
          description: The version of the schema that applies to the ``extension.data`` object.
        data:
          type: object
          x-stoplight:
            id: 5h0r1ilaapxra
          description: The object that contains the additional properties, which makes this resource extensible.
          additionalProperties:
            type: object
            description: 'Key-value pairs that contain the name and data of additional properties.

              '
      required:
      - type
      - version
    ModifyFolderPayload:
      description: Modifies folder names
      x-stoplight:
        id: 6281aa0793680
      type: object
      x-examples:
        example-1:
          jsonapi:
            version: '1.0'
          data:
            type: folders
            id: urn:adsk.wipprod:fs.folder:co.mgS-lb-BThaTdHnhiN_mbA
            attributes:
              name: Drawings
      title: ModifyFolderPayload
      properties:
        jsonapi:
          $ref: '#/components/schemas/json_api_version'
        data:
          type: object
          description: The data that describes what must be modified.
          required:
          - type
          - id
          properties:
            type:
              $ref: '#/components/schemas/type_folder'
            id:
              type: string
              minLength: 1
              description: 'The URN of the folder.


                For information on how to find the URN, see the initial steps of the [Download a File](/en/docs/data/v2/tutorials/download-file/) tutorial.


                Note that this should NOT be URL-encoded.'
            attributes:
              type: object
              description: The properties of the folder that can be modified.
              properties:
                name:
                  type: string
                  minLength: 1
                  description: "The new folder name (1-255 characters). \n\nAvoid using the following reserved characters in the name: ``<``, ``>``, ``:``, ``\"``, ``/``, ``\\``, ``|``, ``?``, ``*``, ``'``, ``\\n``, ``\\r``, ``\\t``, ``\\0``, ``\\f``, ``¢``, ``™``, ``$``, ``®``. \n\nWhen a deleted folder is restored, it keeps its original name. However, if a name conflict occurs, you must provide a new unique name for it. "
                hidden:
                  type: boolean
                  description: '``true`` : Delete a BIM 360 Docs folder.


                    ``false`` : Restore a BIM 360 Docs folder.'
            relationships:
              type: object
              description: Contains links to resources that are directly related to this folder.
              properties:
                parent:
                  type: object
                  description: Information about the parent folder of this folder.
                  properties:
                    data:
                      type: object
                      description: A container for the data that defines the parent of this folder.
                      required:
                      - type
                      - id
                      properties:
                        type:
                          $ref: '#/components/schemas/type_folder'
                        id:
                          type: string
                          description: The URN of the parent folder to which you want to move a folder to.
                  required:
                  - data
      required:
      - jsonapi
      - data
    FolderData:
      title: 'Folder Data:'
      x-stoplight:
        id: 0crrh7a4rnsne
      type: object
      description: A container of data describing a folder.
      properties:
        type:
          $ref: '#/components/schemas/type_folder'
        id:
          type: string
          minLength: 1
          description: The unique identifier of the folder.
        attributes:
          $ref: '#/components/schemas/FolderAttributesWithExtensions'
        links:
          $ref: '#/components/schemas/json_api_links_self_and_web_view'
        relationships:
          type: object
          description: Contains links to resources that are directly related to this folder.
          required:
          - parent
          - refs
          - links
          - contents
          properties:
            parent:
              $ref: '#/components/schemas/json_api_relationships_links_folder_parent'
            refs:
              $ref: '#/components/schemas/json_api_relationships_links_refs'
            links:
              $ref: '#/components/schemas/json_api_relationships_links_links'
            contents:
              $ref: '#/components/schemas/json_api_relationships_links_internal'
      required:
      - type
      - id
      - attributes
      - links
      - relationships
    type_ref:
      type: string
      enum:
      - derived
      - dependencies
      - auxiliary
      - xrefs
      - includes
      description: The type of the resource. Possible values are ``derived``, ``dependencies``, ``auxiliary``, ``xrefs``, and ``includes``.
    FolderContents:
      description: Successful retrieval of the folder contents collection associated with a specific folder.
      type: object
      x-examples:
        example-1:
          jsonapi:
            version: '1.0'
          links:
            self:
              href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/folders/urn%3Aadsk.wipprod%3Adm.folder%3Asdfedf8wefl/contents?page%5Bnumber%5D=3
            first:
              href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/folders/urn%3Aadsk.wipprod%3Adm.folder%3Asdfedf8wefl/contents?page%5Bnumber%5D=0
            prev:
              href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/folders/urn%3Aadsk.wipprod%3Adm.folder%3Asdfedf8wefl/contents?page%5Bnumber%5D=2
            next:
              href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/folders/urn%3Aadsk.wipprod%3Adm.folder%3Asdfedf8wefl/contents?page%5Bnumber%5D=4
          data:
          - type: folders
            id: urn:adsk.wipprod:dm.folder:hC6k4hndRWaeIVhIjvHu8w
            attributes:
              name: Plans
              displayName: Plans
              createTime: '2015-11-27T11:11:23.000Z'
              createUserId: BW9RM76WZBGL
              createUserName: John Doe
              lastModifiedTime: '2015-11-27T11:11:27.000Z'
              lastModifiedTimeRollup: '2015-11-27T11:11:27.000Z'
              lastModifiedUserId: BW9RM76WZBGL
              lastModifiedUserName: John Doe
              path: /dm-test-root/f0cb4ba0-7722-0133-9814-0eeb7bad1e3b
              objectCount: 4
              hidden: false
              extension:
                type: folders:autodesk.bim360:Folder
                version: '1.0'
                schema:
                  href: /schema/v1/versions/folders%3Aautodesk.bim360%3AFolder-1.0
                data:
                  allowedTypes:
                  - folders
                  - items:autodesk.bim360:File
                  - items:autodesk.bim360:Document
                  - items:autodesk.bim360:TitleBlock
                  visibleTypes:
                  - folders
                  - items:autodesk.bim360:Document
                  namingStandardIds: []
            links:
              self:
                href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/folders/urn%3Aadsk.wipprod%3Adm.folder%3AhC6k4hndRWaeIVhIjvHu8w
            relationships:
              parent:
                links:
                  related:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/folders/urn%3Aadsk.wipprod%3Adm.folder%3Asdfedf8wefl
                data:
                  type: folders
                  id: urn:adsk.wipprod:dm.folder:sdfedf8wefl
              refs:
                links:
                  self:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/folders/urn%3Aadsk.wipprod%3Adm.folder%3AhC6k4hndRWaeIVhIjvHu8w/relationships/refs
                  related:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/folders/urn%3Aadsk.wipprod%3Adm.folder%3AhC6k4hndRWaeIVhIjvHu8w/refs
              links:
                links:
                  self:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/folders/urn%3Aadsk.wipprod%3Adm.folder%3AhC6k4hndRWaeIVhIjvHu8w/relationships/links
              contents:
                links:
                  related:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/folders/urn%3Aadsk.wipprod%3Adm.folder%3AhC6k4hndRWaeIVhIjvHu8w/contents
          - type: items
            id: urn:adsk.wipprod:dm.lineage:hC6k4hndRWaeIVhIjvHu8w
            attributes:
              displayName: my file
              createTime: '2015-11-27T11:11:23.000Z'
              createUserId: BW9RM76WZBGL
              createUserName: John Doe
              lastModifiedTime: '2015-11-27T11:11:27.000Z'
              lastModifiedUserId: BW9RM76WZBGL
              lastModifiedUserName: John Doe
              lastModifiedTimeRollup: '2015-11-27T11:11:27.000Z'
              hidden: false
              reserved: true
              reservedTime: '2015-11-27T11:11:25.000Z'
              reservedUserId: BW9RM76WZBGL
              reservedUserName: John Doe
              extension:
                type: items:autodesk.bim360:File
                version: '1.0'
                schema:
                  href: /schema/v1/versions/items%3Aautodesk.bim360%3AFile-1.0
                data: {}
            links:
              self:
                href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn%3Aadsk.wipprod%3Adm.lineage%3AhC6k4hndRWaeIVhIjvHu8w
            relationships:
              tip:
                links:
                  related:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn%3Aadsk.wipprod%3Adm.lineage%3AhC6k4hndRWaeIVhIjvHu8w/tip
                data:
                  type: versions
                  id: urn:adsk.wipprod:fs.file:vf.d34fdsg3g?version=2
              versions:
                links:
                  related:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn%3Aadsk.wipprod%3Adm.lineage%3AhC6k4hndRWaeIVhIjvHu8w/versions
              refs:
                links:
                  self:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn%3Aadsk.wipprod%3Adm.lineage%3AhC6k4hndRWaeIVhIjvHu8w/relationships/refs
                  related:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn%3Aadsk.wipprod%3Adm.lineage%3AhC6k4hndRWaeIVhIjvHu8w/refs
              links:
                links:
                  self:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn%3Aadsk.wipprod%3Adm.lineage%3AhC6k4hndRWaeIVhIjvHu8w/relationships/links
              parent:
                links:
                  related:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/folders/urn%3Aadsk.wipprod%3Adm.folder%3Asdfedf8wefl
                data:
                  type: folders
                  id: urn:adsk.wipprod:dm.folder:sdfedf8wefl
          included:
          - type: versions
            id: urn:adsk.wipprod:fs.file:vf.d34fdsg3g?version=2
            attributes:
              name: version-test.pdf
              displayName: version-test.pdf
              createTime: '2016-04-01T11:09:03.000Z'
              createUserId: BW9RM76WZBGL
              createUserName: John Doe
              lastModifiedTime: '2016-04-01T11:11:18.000Z'
              lastModifiedUserId: BW9RM76WZBGL
              lastModifiedUserName: John Doe
              versionNumber: 2
              mimeType: application/pdf
              extension:
                type: versions:autodesk.bim360:File
                version: '1.0'
                schema:
                  href: /schema/v1/versions/versions%3Aautodesk.bim360%3AFile-1.0
                data:
                  tempUrn: null
                  properties: {}
                  storageUrn: urn:adsk.objects:os.object:wip.dm.prod/3c8f6bbc-fe5c-4815-a92e-8b8635e7b1cb.pdf
                  storageType: OSS
                  conformingStatus: NONE
            links:
              self:
                href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn%3Aadsk.wipprod%3Afs.file%3Avf.b909RzMKR4mhc3O7UBY_8g%3Fversion%3D1
              webView:
                href: https://docs.b360.autodesk.com/projects/c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/folders/urn%3Aadsk.wipprod%3Afs.folder%3Aco.0J4paz_FQgWPX2QRsaBkiw/detail/viewer/items/urn%3Aadsk.wipprod%3Afs.file%3Avf.b909RzMKR4mhc3O7UBY_8g%3Fversion%3D1
            relationships:
              item:
                links:
                  related:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn%3Aadsk.wipprod%3Adm.lineage%3Ab909RzMKR4mhc3O7UBY_8g
                data:
                  type: items
                  id: urn:adsk.wipprod:dm.lineage:b909RzMKR4mhc3O7UBY_8g
              refs:
                links:
                  self:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn%3Aadsk.wipprod%3Afs.file%3Avf.b909RzMKR4mhc3O7UBY_8g%3Fversion%3D1/relationships/refs
                  related:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn%3Aadsk.wipprod%3Afs.file%3Avf.b909RzMKR4mhc3O7UBY_8g%3Fversion%3D1/refs
              links:
                links:
                  self:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn%3Aadsk.wipprod%3Afs.file%3Avf.b909RzMKR4mhc3O7UBY_8g%3Fversion%3D1/relationships/links
              storage:
                meta:
                  link:
                    href: /oss/v2/buckets/wipbucket/objects/3c8f6bbc-fe5c-4815-a92e-8b8635e7b1cb.pdf?scopes=b360project.6f8813fe-31a7-4440-bc63-d8ca97c856b4,global,O2tenant.tenantId
                data:
                  type: objects
                  id: urn:adsk.objects:os.object:wip.dm.prod/3c8f6bbc-fe5c-4815-a92e-8b8635e7b1cb.pdf
      title: 'Folder Contents:'
      properties:
        jsonapi:
          $ref: '#/components/schemas/json_api_version'
        links:
          type: object
          description: Information on links for this resource. ``first``, ``prev``, and ``next`` are available only when the response is paginated.
          required:
          - self
          properties:
            self:
              $ref: '#/components/schemas/json_api_link'
            first:
              $ref: '#/components/schemas/json_api_link'
            prev:
              $ref: '#/components/schemas/json_api_link'
            next:
              $ref: '#/components/schemas/json_api_link'
        data:
          type: array
          uniqueItems: true
          minItems: 1
          description: The properties of an item or folder, as the case may be.
          items:
            oneOf:
            - $ref: '#/components/schemas/FolderData'
            - $ref: '#/components/schemas/ItemData'
            discriminator:
              propertyName: type
              mapping:
                folders: '#/components/schemas/FolderData'
                items: '#/components/schemas/ItemData'
        included:
          description: An array of objects, where each element represents a resource included within this resource.
          type: array
          items:
            $ref: '#/components/schemas/VersionData'
      required:
      - jsonapi
      - links
    VersionAttributes:
      description: The properties of a version.
      type: object
      title: 'Version Attributes:'
      required:
      - name
      - displayName
      - versionNumber
      - createTime
      - createUserId
      - createUserName
      - lastModifiedTime
[...]
