openapi: 3.2.0
info:
  title: Webhooks Tokens API
  version: '1.0'
  description: The Webhooks API enables applications to listen to APS events and receive notifications when they occur.
  contact:
    name: Autodesk Platform Services
    url: https://aps.autodesk.com/
    email: aps.help@autodesk.com
  termsOfService: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/forge-platform-web-services-api-terms-of-service
  x-support: https://stackoverflow.com/questions/tagged/autodesk-webhooks
servers:
- url: https://developer.api.autodesk.com
tags:
- name: Tokens
paths:
  /webhooks/v1/tokens:
    parameters: []
    post:
      summary: Create Secret Token
      tags:
      - Tokens
      responses:
        '200':
          description: The secret was set successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '400':
          description: The request is invalid. Secret token already exists.
        '401':
          $ref: '#/components/responses/401-general'
        '403':
          $ref: '#/components/responses/403-general'
        '404':
          $ref: '#/components/responses/404-general'
        '500':
          $ref: '#/components/responses/500-general'
      operationId: create-token
      description: 'Sets a secret token to verify the authenticity of webhook payloads.


        When a webhook event occurs, the service calculates a hash signature using the token and includes it in the event notification. The receiving application listening at the callback URL can verify the payload''s integrity by comparing the calculated signature to the one received.


        The webhooks affected by this operation are determined by the type of access token you use.


        - Two-legged Access Token: Sets the secret token for all webhooks owned by calling the app.

        - Three-legged Access Token: Sets the secret token for all webhooks owned by the calling user


        **Note:** Use the Update Webhook operation to set a token for a specific webhook.


        See the Secret Token section in API Basics for more information.'
      parameters:
      - $ref: '#/components/parameters/x-ads-region'
      - $ref: '#/components/parameters/region'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenPayload'
        description: The request payload for a Create Secret request
      security:
      - 2-legged:
        - data:read
        - data:write
        3-legged:
        - data:read
        - data:write
  /webhooks/v1/tokens/@me:
    parameters: []
    put:
      summary: Update Secret Token
      tags:
      - Tokens
      responses:
        '204':
          description: The secret change request was accepted.
        '400':
          $ref: '#/components/responses/400-general'
        '401':
          $ref: '#/components/responses/401-general'
        '403':
          $ref: '#/components/responses/403-general'
        '404':
          $ref: '#/components/responses/404-general'
        '500':
          $ref: '#/components/responses/500-general'
      operationId: put-token
      description: 'Replaces an existing secret token with a new one.


        Note that there can be a delay of up to 10 minutes while the change takes effect. We recommend that your callback accept both secret token values for a period of time to allow all requests to go through.


        The webhooks affected by this operation are determined by the type of access token you use.


        - Two-legged Access Token: Sets the secret token for all webhooks owned by calling the app.

        - Three-legged Access Token: Sets the secrety token for all webhooks owned by the calling user


        **Note:** Use the Update Webhook operation to set a token for a specific webhook.


        See the Secret Token section in API Basics for more information.'
      parameters:
      - $ref: '#/components/parameters/x-ads-region'
      - $ref: '#/components/parameters/region'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenPayload'
      security:
      - 2-legged:
        - data:read
        - data:write
        3-legged:
        - data:read
        - data:write
    delete:
      summary: Delete Secret Token
      tags:
      - Tokens
      responses:
        '204':
          description: The secret deletion request was successfully accepted.
        '400':
          $ref: '#/components/responses/400-general'
        '401':
          $ref: '#/components/responses/401-general'
        '403':
          $ref: '#/components/responses/403-general'
        '404':
          $ref: '#/components/responses/404-general'
        '500':
          $ref: '#/components/responses/500-general'
      operationId: delete-token
      description: 'Removes an existing secret token from the webhooks impacted by this operation.


        The webhooks affected by this operation are determined by the type of access token you use.


        - Two-legged Access Token: Sets the secret token for all webhooks owned by calling the app.

        - Three-legged Access Token: Sets the secrety token for all webhooks owned by the calling user


        Note that there can be a delay of up to 10 minutes while the change takes effect. We recommend that your callback accept both secret token values for a period of time to allow all requests to go through.


        See the Secret Token section in API Basics for more information.'
      parameters:
      - $ref: '#/components/parameters/x-ads-region'
      - $ref: '#/components/parameters/region'
      security:
      - 2-legged:
        - data:read
        - data:write
        3-legged:
        - data:read
        - data:write
components:
  responses:
    401-general:
      description: Invalid authorization header.
      content:
        application/json:
          schema:
            properties:
              id:
                type: string
    500-general:
      description: Unexpected service interruption
      content:
        application/json:
          schema:
            properties:
              id:
                type: string
    400-general:
      description: The request is invalid.
      content:
        application/json:
          schema:
            properties:
              id:
                type: string
    403-general:
      description: Access denied regardless of authorization status.
      content:
        application/json:
          schema:
            properties:
              id:
                type: string
    404-general:
      description: The specified resource was not found.
      content:
        application/json:
          schema:
            properties:
              id:
                type: string
  parameters:
    region:
      name: region
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/region'
      description: "Specifies the geographical location (region) of the server the request must be executed on. This also corresponds to the region where the Webhook data is stored. It is also the location of the server that will make request to your callback URL. Possible values:\n\n- ``US`` - (Default) Data center dedicated to serve the United States region.\n- ``EMEA`` - Data center dedicated to serve the European Union, Middle East, and Africa regions.\n- ``AUS`` - (Beta) Data center dedicated to serve the Australia region.\n- ``CAN`` - Data center dedicated to serve the Canada region.\n- ``DEU`` - Data center dedicated to serve the Germany region.\n- ``IND`` - Data center dedicated to serve the India region.\n- ``JPN`` - Data center dedicated to serve the Japan region.\n- ``GBR`` - Data center dedicated to serve the United Kingdom region.\n\n**Note:** \n\n1. Beta features are subject to change. Please avoid using them in production environments.\n2. You can also use the ``x-ads-region`` header to specify the region. If you specify the ``region`` query string parameter as well as the ``x-ads-region`` header, the ``x-ads-region`` header takes precedence.\n"
    x-ads-region:
      name: x-ads-region
      in: header
      required: false
      schema:
        $ref: '#/components/schemas/x-ads-region'
      description: "Specifies the geographical location (region) of the server the request must be executed on. This also corresponds to the region where the Webhook data is stored. It is also the location of the server that will make requests to your callback URL. Possible values:\n\n- ``US`` - (Default) Data center dedicated to serve the United States region.\n- ``EMEA`` - Data center dedicated to serve the European Union, Middle East, and Africa regions.\n- ``AUS`` - (Beta) Data center dedicated to serve the Australia region.\n- ``CAN`` - Data center dedicated to serve the Canada region.\n- ``DEU`` - Data center dedicated to serve the Germany region.\n- ``IND`` - Data center dedicated to serve the India region.\n- ``JPN`` - Data center dedicated to serve the Japan region.\n- ``GBR`` - Data center dedicated to serve the United Kingdom region.\n\n**Note:** \n\n1. Beta features are subject to change. Please avoid using them in production environments.\n2. You can also use the ``region`` query string parameter to specify the region. If you specify the ``region`` query string parameter as well as the ``x-ads-region`` header, the ``x-ads-region`` header takes precedence.\n"
  schemas:
    region:
      type: string
      enum:
      - US
      - EMEA
      - AUS
      - CAN
      - DEU
      - IND
      - JPN
      - GBR
      description: 'Specifies the geographical location (region) of the server a request must be executed on. This also corresponds to the region where the Webhook data is stored. It is also the location of the server that will make requests to your callback URL. Possible values:


        - ``US`` - (Default) Data center dedicated to serve the United States region.

        - ``EMEA`` - Data center dedicated to serve the European Union, Middle East, and Africa regions.

        - ``AUS`` - (Beta) Data center dedicated to serve the Australia region.

        - ``CAN`` - Data center dedicated to serve the Canada region.

        - ``DEU`` - Data center dedicated to serve the Germany region.

        - ``IND`` - Data center dedicated to serve the India region.

        - ``JPN`` - Data center dedicated to serve the Japan region.

        - ``GBR`` - Data center dedicated to serve the United Kingdom region.


        **Note:** Beta features are subject to change. Please avoid using them in production environments.

        '
    Token:
      description: Add a new Webhook secret token.
      x-stoplight:
        id: c90cb2068ad4a
      type: object
      x-examples:
        example-1:
          status: 200
          detail:
          - 'Token created successfully for client: *****'
      title: Token
      properties:
        status:
          type: number
          description: A repetition of the HTTP status code returned in the response headers, which indicates the outcome of the request.
        detail:
          type: array
          description: An array of strings, where each string is a human-readable description of the request's outcome.
          items:
            type: string
    TokenPayload:
      type: object
      x-examples:
        example-1:
          token: awffbvdb3trf4fvdfbUyt39suHnbe5Mnrks3
      title: TokenPayload
      properties:
        token:
          type: string
          minLength: 1
          description: The new secret to set.
      required:
      - token
      description: The request body for an Update Secret Token operation.
    x-ads-region:
      type: string
      enum:
      - US
      - EMEA
      - AUS
      - CAN
      - DEU
      - IND
      - JPN
      - GBR
      description: 'Specifies the geographical location (region) of the server a request must be executed on. This also corresponds to the region where the Webhook data is stored. It is also the location of the server that will make requests to your callback URL. Possible values:


        - ``US`` - (Default) Data center dedicated to serve the United States region.

        - ``EMEA`` - Data center dedicated to serve the European Union, Middle East, and Africa regions.

        - ``AUS`` - (Beta) Data center dedicated to serve the Australia region.

        - ``CAN`` - Data center dedicated to serve the Canada region.

        - ``DEU`` - Data center dedicated to serve the Germany region.

        - ``IND`` - Data center dedicated to serve the India region.

        - ``JPN`` - Data center dedicated to serve the Japan region.

        - ``GBR`` - Data center dedicated to serve the United Kingdom region.


        **Note:** Beta features are subject to change. Please avoid using them in production environments.

        '
  securitySchemes:
    3-legged:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://developer.api.autodesk.com/authentication/v2/authorize
          tokenUrl: https://developer.api.autodesk.com/authentication/v2/token
          refreshUrl: https://developer.api.autodesk.com/authentication/v2/token
          scopes:
            data:read: read your data
            data:write: modify your data
            data:create: create new data
      x-authentication_context: user context required
      description: User context required.
    2-legged:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://developer.api.autodesk.com/authentication/v2/token
          scopes:
            data:read: read application accessible data
            data:write: write application accessible data
            data:create: create application accessible data
      x-authentication_context: application context required
      description: Application context required.
