openapi: 3.0.0
info:
  title: Construction.Account.Admin Account Management Issue Attachments API
  version: '1.0'
  contact:
    name: Autodesk Plaform Services
    url: https://aps.autodesk.com/
    email: aps.help@autodesk.com
  termsOfService: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/forge-platform-web-services-api-terms-of-service
  x-support: https://stackoverflow.com/questions/tagged/autodesk-platform-services
  description: 'The Account Admin API automates creating and managing projects, assigning and managing project users, and managing member and partner company directories. You can also synchronize data with external systems.

    '
servers:
- url: https://developer.api.autodesk.com
security:
- 2-legged: []
- 3-legged: []
tags:
- name: Issue Attachments
paths:
  /construction/issues/v1/projects/{projectId}/attachments:
    parameters:
    - schema:
        type: string
      name: projectId
      in: path
      required: true
      description: The ID of the project.
    servers: []
    post:
      summary: Add attachments to an issue
      tags:
      - Issue Attachments
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attachments'
        '400':
          description: Invalid input
        '403':
          description: The request is valid but lacks the necessary permissions.
        '404':
          description: Project not found
        '409':
          description: Conflict - one or more attachments already exist in the document service
        '422':
          description: The limit of 100 attachments per issue has been reached
        '500':
          description: Internal server error
      operationId: add-attachments
      x-stoplight:
        id: txaf30uotjj6y
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/attachmentsPayload'
      description: "Adds attachments to an existing issue.\r\n\r\nLinks one or more files in Autodesk Docs (uploaded via the Data Management OSS API) to the specified issue.\r\n\r\nNote that an issue can have up to 100 attachments. Files can include images, PDFs, or other supported formats.\r\n\r\nFor more information about uploading attachments, see the Upload Issue Attachment tutorial."
      security:
      - 2-legged: []
      - 3-legged: []
      - 3-legged-implicit: []
  /construction/issues/v1/projects/{projectId}/attachments/{issueId}/items/{attachmentId}:
    parameters:
    - schema:
        type: string
      name: projectId
      in: path
      required: true
      description: The ID of the project. Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial. You need to convert the project ID into a project ID for the ACC API by removing the “b." prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
    - schema:
        type: string
      name: issueId
      in: path
      required: true
      description: The unique identifier of the issue. To find the ID, call GET issues.
    - schema:
        type: string
      name: attachmentId
      in: path
      required: true
      description: The unique identifier of the attachment. To find the ID, call GET attachments.
    delete:
      summary: Delete an attachment from an issue
      tags:
      - Issue Attachments
      responses:
        '204':
          description: No Content
        '400':
          description: Invalid input
        '403':
          description: The request is valid but lacks the necessary permissions.
        '404':
          description: Issue or attachment not found, or attachment has already been deleted
        '500':
          description: Internal Server Error
      operationId: delete-attachment
      x-stoplight:
        id: 4rg9kjdjouodf
      description: Deletes a specific attachment from an issue in a project.
      security:
      - 2-legged: []
      - 3-legged: []
      - 3-legged-implicit: []
  /construction/issues/v1/projects/{projectId}/attachments/{issueId}/items:
    parameters:
    - schema:
        type: string
      name: projectId
      in: path
      required: true
      description: The ID of the project. Use the Data Management API to retrieve the project ID. For more information, see the Retrieve a Project ID tutorial. You need to convert the project ID into a project ID for the ACC API by removing the “b." prefix. For example, a project ID of b.a4be0c34a-4ab7 translates to a project ID of a4be0c34a-4ab7.
    - schema:
        type: string
      name: issueId
      in: path
      required: true
      description: The unique identifier of the issue. To find the ID, call GET issues.
    get:
      summary: Get all attachments for an issue
      tags:
      - Issue Attachments
      responses:
        '200':
          description: OK
          headers:
            header-0:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attachments'
        '400':
          description: Invalid input
        '403':
          description: Forbidden
        '404':
          description: Issue not found
        '500':
          description: The request is valid but lacks the necessary permissions.
      operationId: get-attachments
      x-stoplight:
        id: dvrvn24jvv1j5
      description: "Retrieves all attachments for a specific issue in a project.\r\n\r\nFor details about retrieving metadata for a specific attachment, see the Retrieve Issue Attachment tutorial.\r\n\r\nFor details about downloading an attachment, see the Download Issue Attachment tutorial."
      security:
      - 2-legged: []
      - 3-legged: []
      - 3-legged-implicit: []
components:
  schemas:
    attachments:
      title: attachments
      x-stoplight:
        id: hmg2bcxm6uj5e
      type: object
      description: An optional array of attachments associated with this object.
      properties:
        attachments:
          type: array
          x-stoplight:
            id: 2euxnmoyqwhop
          items:
            $ref: '#/components/schemas/attachment'
    attachment:
      title: attachment
      x-stoplight:
        id: 3qdhrtrx0wbin
      type: object
      description: A list of attachments to add to the issue.
      properties:
        attachmentId:
          type: string
          description: The unique identifier for the attachment, set by the client when creating the attachment reference. This can be any unique GUID, but it is recommended to use the OSS storage GUID. For more information, see the Upload Issue Attachment tutorial.
        displayName:
          type: string
          description: The human-readable display name for the attachment, including the file extension (for example, .pdf, .jpg, .dwg). This name appears in the ACC web UI and is used when downloading the file from the issue.
        fileName:
          type: string
          description: "The unique filename of the attachment, typically formatted as {attachmentId}.{fileExtension}.\r\nThis value must exactly match the name of the file stored in Autodesk Docs (OSS) that you uploaded via the OSS process.\r\n\r\nFor more information, see the Upload Issue Attachment tutorial."
        attachmentType:
          enum:
          - issue-attachment
          description: 'The type of attachment to create. Set to issue-attachment. Will always be: issue-attachment'
        storageUrn:
          type: string
          description: The Object Storage Service (OSS) URN that uniquely identifies where the file is stored in Autodesk’s cloud infrastructure. You obtain this value after uploading the file to OSS (see the Upload Issue Attachment tutorial) or by retrieving it from an existing attachment (see the Downloading Issue Attachments tutorial).
        fileSize:
          type: integer
          x-stoplight:
            id: i2y7b0tq011zn
          description: The size of the file in bytes.
        fileType:
          type: string
          x-stoplight:
            id: 3fiywa72cdk1v
          description: The file extension (without the dot), for example pdf or jpg.
        domainEntityId:
          type: string
          x-stoplight:
            id: 06tlcacip3ju0
          description: The ID of the issue that owns the attachment.
        lineageUrn:
          type: string
          x-stoplight:
            id: zh6ah270gg1sg
          description: The document lineage URN for the attachment’s source file.
        version:
          type: integer
          x-stoplight:
            id: yrcq7yz9pj0ci
          description: The document version number.
        versionUrn:
          type: string
          x-stoplight:
            id: wt91zzho7mutk
          description: The URN for the specific file version that was attached to the issue. This may differ from the latest version URN (tipVersionUrn) if a newer version of the file exists in Autodesk Docs.
        tipVersionUrn:
          type: string
          x-stoplight:
            id: 77op4l2u7dwlg
          description: The URN for the latest (tip) version of the file.
        bubbleUrn:
          type: string
          x-stoplight:
            id: 2wne4s9okswp3
          description: Not relevant
        createdBy:
          type: string
          x-stoplight:
            id: 41lfd9bvtxsgo
          description: The ID of the user who created the issue attachment. For details about the user, call GET users.
        createdOn:
          type: string
          x-stoplight:
            id: giliv7dulj0kn
          description: The date and time when the issue attachment was created, in ISO8601 format.
        modifiedBy:
          type: string
          x-stoplight:
            id: kpnqt4sj2kp5s
          description: Not relevant
        modifiedOn:
          type: string
          x-stoplight:
            id: 0zddjbh06gb0v
          description: Not relevant
        deletedBy:
          type: string
          x-stoplight:
            id: cv67vkbjf3nxl
          description: The ID of the user who deleted the issue attachment, if applicable. For details about the user, call GET users.
        deletedOn:
          type: string
          x-stoplight:
            id: 40nkce3nxqb48
          description: The date and time when the issue attachment was deleted, if applicable.
        isDeleted:
          type: boolean
          x-stoplight:
            id: 6dfy2pf5wjpmu
          description: "true: The attachment has been deleted.\r\nfalse: (default) The attachment has not been deleted."
    attachmentObject:
      title: attachmentObject
      x-stoplight:
        id: hgky8a2aqiaya
      type: object
      description: A list of attachments to add to the issue.
      required:
      - attachmentId
      - displayName
      - fileName
      - attachmentType
      - storageUrn
      properties:
        attachmentId:
          type: string
          x-stoplight:
            id: xf0rx7ndbzv7q
          description: The unique identifier for the attachment, set by the client when creating the attachment reference. This can be any unique GUID, but it is recommended to use the OSS storage GUID. For more information, see the Upload Issue Attachment tutorial.
        displayName:
          type: string
          x-stoplight:
            id: w6gu5hswzintj
          description: The human-readable display name for the attachment, including the file extension (for example, .pdf, .jpg, .dwg). This name appears in the ACC web UI and is used when downloading the file from the issue.
        fileName:
          type: string
          x-stoplight:
            id: 66aop0tgqlw3j
          description: "The unique filename of the attachment, typically formatted as {attachmentId}.{fileExtension}.\r\nThis value must exactly match the name of the file stored in Autodesk Docs (OSS) that you uploaded via the OSS process.\r\n\r\nFor more information, see the Upload Issue Attachment tutorial."
        attachmentType:
          x-stoplight:
            id: a2yqbbh35br8y
          enum:
          - issue-attachment
          description: 'The type of attachment to create. Set to issue-attachment. Will always be: issue-attachment'
        storageUrn:
          type: string
          x-stoplight:
            id: voywegs8sir9k
          description: The Object Storage Service (OSS) URN that uniquely identifies where the file is stored in Autodesk’s cloud infrastructure. You obtain this value after uploading the file to OSS (see the Upload Issue Attachment tutorial) or by retrieving it from an existing attachment (see the Downloading Issue Attachments tutorial).
    attachmentsPayload:
      title: attachmentspayload
      x-stoplight:
        id: pki5fadhz4lko
      type: object
      properties:
        domainEntityId:
          type: string
          x-stoplight:
            id: h11ppw3rpqquf
          description: The unique identifier of the issue to which the attachments will be added.
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/attachmentObject'
          description: The list of attachments to be added to the issue.
      description: Represents the payload for adding attachments to an issue.
  securitySchemes:
    2-legged:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: ''
          refreshUrl: ''
          scopes: {}
    3-legged-implicit:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: ''
          refreshUrl: ''
          scopes: {}
    3-legged:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: ''
          tokenUrl: ''
          refreshUrl: ''
          scopes: {}
x-stoplight:
  id: zm6m3b30rcbon
