openapi: 3.0.0
info:
  title: Construction.Account.Admin Account Management Thumbnails API
  version: '1.0'
  contact:
    name: Autodesk Plaform Services
    url: https://aps.autodesk.com/
    email: aps.help@autodesk.com
  termsOfService: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/forge-platform-web-services-api-terms-of-service
  x-support: https://stackoverflow.com/questions/tagged/autodesk-platform-services
  description: 'The Account Admin API automates creating and managing projects, assigning and managing project users, and managing member and partner company directories. You can also synchronize data with external systems.

    '
servers:
- url: https://developer.api.autodesk.com
security:
- 2-legged: []
- 3-legged: []
tags:
- name: Thumbnails
paths:
  /modelderivative/v2/designdata/{urn}/thumbnail:
    parameters:
    - $ref: '#/components/parameters/source-design-urn'
    get:
      summary: Fetch Thumbnail
      tags:
      - Thumbnails
      responses:
        '200':
          description: The requested thumbnail was successfully retrieved.
          headers:
            x-ads-name:
              schema:
                type: string
              description: File name of the thumbnail.
            x-ads-size:
              description: 'Thumbnail size. Possible values are: ``[100,100]``, ``[200,200]``, ``[400,400]``'
              schema:
                type: string
            x-ads-role:
              schema:
                $ref: '#/components/schemas/XAdsRole'
            x-ads-job-status:
              schema:
                $ref: '#/components/schemas/XAdsJobStatus'
            x-ads-app-identifier:
              $ref: '#/components/headers/x-ads-app-identifier'
            x-ads-startup-time:
              $ref: '#/components/headers/x-ads-startup-time'
            x-ads-duration:
              $ref: '#/components/headers/x-ads-duration'
            x-ads-troubleshooting:
              $ref: '#/components/headers/x-ads-troubleshooting'
          content:
            image/png:
              schema:
                type: string
                format: binary
                description: The body response is a binary stream of the thumbnail.
                properties: {}
      operationId: get-thumbnail
      description: Downloads a thumbnail of the specified source design.
      security:
      - 2-legged:
        - data:read
      - 3-legged:
        - data:read
      parameters:
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/width'
      - $ref: '#/components/parameters/height'
      x-ads_command_line_example:
        curl -X "GET" -H "Authorization: Bearer PtnrvrtSRpWwUi3407QhgvqdUVKL" -v "https://developer.api.autodesk.com/modelderivative/v2/designdata/dXJuOmFkc2sub2JqZWN0czpvcy5vYmplY3Q6bW9kZWxkZXJpdmF0aXZlL0E1LnppcA/thumbnail"
components:
  schemas:
    XAdsJobStatus:
      type: string
      x-stoplight:
        id: fe8004987d684
      enum:
      - inprogress
      - success
      - failed
      - timedout
      description: 'The execution status of the translation job.  Possible values are: ``inprogress``, ``success``, ``failed``, ``timedout``'
    Height:
      type: integer
      x-stoplight:
        id: 91ad401a43ef2
      description: 'Height of thumbnails. Possible values are: ``100``, ``200``, ``400``.If ``height`` is omitted, but ``width`` is specified, ``height`` defaults to ``width``.  If both ``width`` and ``height`` are omitted, the server will return a thumbnail closest to ``200``, if such a thumbnail is available'
      enum:
      - 100
      - 200
      - 400
    Width:
      type: integer
      x-stoplight:
        id: 538da198a6bd0
      description: 'Width of thumbnail in pixels.  Possible values are: ``100``, ``200``, ``400``  If ``width`` is omitted, but ``height`` is specified, ``width`` defaults to ``height``. If both ``width`` and ``height`` are omitted, the server will return a thumbnail closest to ``200``, if such a thumbnail is available.'
      enum:
      - 100
      - 200
      - 400
    Region:
      type: string
      description: "Specifies where the referenced files are stored. Possible values are: \n    \n- ``US`` - Data center for the US region.\n- ``EMEA`` - Data center for the European Union, Middle East, and Africa. \n- ``AUS`` - (Beta) Data center for the Australia region.\n- ``CAN`` - Data center for the Canada region.\n- ``DEU`` - Data center for the Germany region.\n- ``IND`` - Data center for the India region.\n- ``JPN`` - Data center for the Japan region.\n- ``GBR``  - Data center for the United Kingdom region.\n"
      enum:
      - US
      - EMEA
      - AUS
      - CAN
      - DEU
      - IND
      - JPN
      - GBR
    XAdsRole:
      type: string
      x-stoplight:
        id: 9f2eb207e596c
      enum:
      - rendered
      - extracted
      description: "The source of the thumbnail:  Possible values are:\n\n- ``rendered`` - Generated pursuant to this API call \n- ``extracted`` - Obtained from the original design file'"
  headers:
    x-ads-startup-time:
      description: 'The service startup time, in the following date format: ``EEE MMM dd HH:mm:ss Z yyyy``.'
      schema:
        type: string
    x-ads-app-identifier:
      description: The service identifier. Comprises of the service name, version, and environment.
      schema:
        type: string
    x-ads-duration:
      description: The amount of time spent servicing the request, in milliseconds.
      schema:
        type: string
    x-ads-troubleshooting:
      description: Provides information about server failures, if any.
      schema:
        type: string
  parameters:
    source-design-urn:
      name: urn
      in: path
      schema:
        type: string
      description: The URL-safe Base64 encoded URN of the source design.
      required: true
    region:
      name: region
      in: header
      schema:
        $ref: '#/components/schemas/Region'
      description: "Specifies the data center where the manifest and derivatives of the specified source design are stored. Possible values are:\n\n- ``US`` - (Default) Data center for the US region.\n- ``EMEA`` - Data center for the European Union, Middle East, and Africa. \n- ``AUS`` - Data center for the Australia region.\n- ``CAN`` - Data center for the Canada region.\n- ``DEU`` - Data center for the Germany region.\n- ``IND`` - Data center for the India region.\n- ``JPN`` - Data center for the Japan region.\n- ``GBR``  - Data center for the United Kingdom region.\n"
    height:
      name: height
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/Height'
      description: 'Height of thumbnails. Possible values are: ``100``, ``200``, ``400``.If ``height`` is omitted, but ``width`` is specified, ``height`` defaults to ``width``.  If both ``width`` and ``height`` are omitted, the server will return a thumbnail closest to ``200``, if such a thumbnail is available'
    width:
      name: width
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/Width'
      description: 'Width of thumbnail in pixels.  Possible values are: ``100``, ``200``, ``400``  If ``width`` is omitted, but ``height`` is specified, ``width`` defaults to ``height``. If both ``width`` and ``height`` are omitted, the server will return a thumbnail closest to ``200``, if such a thumbnail is available.'
  securitySchemes:
    2-legged:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: ''
          refreshUrl: ''
          scopes: {}
    3-legged-implicit:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: ''
          refreshUrl: ''
          scopes: {}
    3-legged:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: ''
          tokenUrl: ''
          refreshUrl: ''
          scopes: {}
x-stoplight:
  id: zm6m3b30rcbon
