openapi: 3.0.0
info:
  title: Construction.Account.Admin Account Management Issue Attribute Mappings API
  version: '1.0'
  contact:
    name: Autodesk Plaform Services
    url: https://aps.autodesk.com/
    email: aps.help@autodesk.com
  termsOfService: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/forge-platform-web-services-api-terms-of-service
  x-support: https://stackoverflow.com/questions/tagged/autodesk-platform-services
  description: 'The Account Admin API automates creating and managing projects, assigning and managing project users, and managing member and partner company directories. You can also synchronize data with external systems.

    '
servers:
- url: https://developer.api.autodesk.com
security:
- 2-legged: []
- 3-legged: []
tags:
- name: Issue Attribute Mappings
paths:
  /construction/issues/v1/projects/{projectId}/issue-attribute-mappings:
    parameters:
    - schema:
        type: string
      name: projectId
      in: path
      required: true
      description: The ID of the project.
    get:
      summary: Your GET endpoint
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attr_mapping_page'
      operationId: getAttributeMappings
      security:
      - 2-legged: []
      - 3-legged: []
      - 3-legged-implicit: []
      parameters:
      - $ref: '#/components/parameters/x-ads-region'
      - schema:
          type: integer
        in: query
        name: limit
        description: 'The number of custom attribute mappings to return in the response payload. For example, limit=2. Acceptable values: 1-200. Default value: 200.'
      - schema:
          type: integer
        in: query
        name: offset
        description: The number of custom attribute mappings you want to begin retrieving results from.
      - schema:
          type: string
        in: query
        name: filter[createdAt]
        description: 'Retrieves items that were created at the specified date and time, in one of the following URL-encoded formats: YYYY-MM-DDThh:mm:ss.sz or YYYY-MM-DD. Separate multiple values with commas.'
      - schema:
          type: string
        in: query
        name: filter[updatedAt]
        description: 'Retrieves items that were last updated at the specified date and time, in one of the following URL-encoded formats: YYYY-MM-DDThh:mm:ss.sz or YYYY-MM-DD. Separate multiple values with commas.'
      - schema:
          type: string
        in: query
        name: filter[deletedAt]
        description: 'Retrieves types that were deleted at the specified date and time, in one of the following URL-encoded formats: YYYY-MM-DDThh:mm:ss.sz or YYYY-MM-DD. Separate multiple values with commas.'
      - schema:
          type: string
        in: query
        name: filter[attributeDefinitionId]
        description: 'Retrieves issue custom attribute mappings associated with the specified issue custom attribute definitions. Separate multiple values with commas. For example: filter[attributeDefinitionId]=18ee5858-cbf1-451a-a525-7c6ff8156775.'
      - schema:
          type: string
        in: query
        name: filter[mappedItemId]
        description: 'Retrieves issue custom attribute mappings associated with the specified items (project, type, or subtype). Separate multiple values with commas. For example: filter[mappedItemId]=18ee5858-cbf1-451a-a525-7c6ff8156775. Note that this does not retrieve inherited custom attribute mappings or custom attribute mappings of descendants.'
      description: Retrieves information about the issue custom attributes (custom fields) that are assigned to issue categories and issue types.
      tags:
      - Issue Attribute Mappings
components:
  parameters:
    x-ads-region:
      name: x-ads-region
      in: header
      schema:
        $ref: '#/components/schemas/region'
  schemas:
    attr_mapping_page:
      title: attr_mapping
      x-stoplight:
        id: kw028glvwty0y
      type: object
      description: The pagination object.
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        results:
          type: array
          description: A list of issue attribute mappings.
          items:
            $ref: '#/components/schemas/attr_mapping'
    Pagination:
      type: object
      description: The pagination object.
      properties:
        limit:
          type: integer
          description: The number of items per page.
        offset:
          type: integer
          description: The page number that the results begin from.
        totalResults:
          type: integer
          description: The number of items in the response.
    region:
      title: region
      x-stoplight:
        id: pvg574irwjt8w
      type: string
      enum:
      - US
      - EMEA
      - AUS
      - CAN
      - DEU
      - IND
      - JPN
      - GBR
      description: "Specifies where the bucket containing the object is stored. Possible values are:\n            - ``US`` - (Default) Data center for the US region.\n            - ``EMEA`` - Data center for the European Union, Middle East, and Africa.\n            - ``AUS`` -  Data center for Australia.\n            - ``CAN`` - Data center for the Canada region.\n            - ``DEU`` - Data center for the Germany region.\n            - ``IND`` - Data center for the India region.\n            - ``JPN`` - Data center for the Japan region.\n            - ``GBR`` - Data center for the United Kingdom region.\n**Note:** Beta features are subject to change. Please do not use in production environments."
    attr_mapping:
      title: attr_mapping
      x-stoplight:
        id: e3wt184wry6i2
      type: object
      properties:
        id:
          type: string
          description: The ID of the custom attribute.
        attributeDefinitionId:
          type: string
          description: The ID of the custom attribute definition.
        containerId:
          type: string
          description: Not relevant
        title:
          type: string
          x-stoplight:
            id: zd4k05m5j6ifx
          description: 'The title of the custom attribute.

            '
        mappedItemType:
          type: string
          x-stoplight:
            id: rgkr2a56eyq5s
        mappedItemId:
          type: string
          description: The ID of the item (type, or subtype) the custom attribute is mapped to.
        order:
          type: integer
          description: The order that the custom attributes were mapped to the item (type, subtype). This is only relevant to non-inherited mappings.
        permittedActions:
          type: array
          description: Not relevant
          items:
            type: string
        permittedAttributes:
          type: array
          description: Not relevant
          items:
            type: string
        createdAt:
          type: string
          description: 'The date and time the custom attribute was created, in the following format: YYYY-MM-DDThh:mm:ss.sz.'
        createdBy:
          type: string
          description: The Autodesk ID of the user who created the custom attribute.
        updatedAt:
          type: string
          description: 'The last date and time the custom attribute was updated, in the following format: YYYY-MM-DDThh:mm:ss.sz.'
        updatedBy:
          type: string
          description: The Autodesk ID of the user who last updated the custom attribute.
        deletedAt:
          type: string
          description: 'The date and time the custom attribute was deleted, in the following format: YYYY-MM-DDThh:mm:ss.sz.'
        deletedBy:
          type: string
          description: The Autodesk ID of the user who deleted the custom attribute.
        description:
          type: string
          x-stoplight:
            id: jcsrljuzc5ltj
          description: The description of the custom attribute.
  securitySchemes:
    2-legged:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: ''
          refreshUrl: ''
          scopes: {}
    3-legged-implicit:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: ''
          refreshUrl: ''
          scopes: {}
    3-legged:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: ''
          tokenUrl: ''
          refreshUrl: ''
          scopes: {}
x-stoplight:
  id: zm6m3b30rcbon
