openapi: 3.0.0
info:
  title: Construction.Account.Admin Account Management Informational API
  version: '1.0'
  contact:
    name: Autodesk Plaform Services
    url: https://aps.autodesk.com/
    email: aps.help@autodesk.com
  termsOfService: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/forge-platform-web-services-api-terms-of-service
  x-support: https://stackoverflow.com/questions/tagged/autodesk-platform-services
  description: 'The Account Admin API automates creating and managing projects, assigning and managing project users, and managing member and partner company directories. You can also synchronize data with external systems.

    '
servers:
- url: https://developer.api.autodesk.com
security:
- 2-legged: []
- 3-legged: []
tags:
- name: Informational
paths:
  /modelderivative/v2/designdata/formats:
    parameters: []
    get:
      summary: List Supported Formats
      tags:
      - Informational
      responses:
        '200':
          description: 'A list of supported formats was successfully returned. '
          headers:
            x-ads-app-identifier:
              $ref: '#/components/headers/x-ads-app-identifier'
            x-ads-startup-time:
              $ref: '#/components/headers/x-ads-startup-time'
            x-ads-duration:
              $ref: '#/components/headers/x-ads-duration'
            x-ads-troubleshooting:
              $ref: '#/components/headers/x-ads-troubleshooting'
            Last-Modified:
              schema:
                type: string
              description: Indicates the date and time (in ``Day of the week, DD Month YYYY HH:MM:SS GMT`` format) the supported formats were last modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportedFormats'
        '304':
          description: Supported formats have not changed since the date specified by the ``If-Modified-Since`` header.
      operationId: get-formats
      description: 'Returns an up-to-date list of supported translations. This operation also provides information on the types of derivatives that can be generated for each source design file type. Furthermore, it allows you to obtain a list of translations that have changed since a specified date.


        See the [Supported Translation Formats table](/en/docs/model-derivative/v2/overview/supported-translations/) for more details.


        **Note:** We keep adding new file formats to our supported translations list, constantly.'
      parameters:
      - schema:
          type: string
        in: header
        name: If-Modified-Since
        description: Specifies a date in the ``Day of the week, DD Month YYYY HH:MM:SS GMT`` format. The response will contain only the formats modified since the specified date and time. If you specify an invalid date, the response will contain all supported formats. If no changes have been made after the specified date, the service returns HTTP status ``304``, NOT MODIFIED.
      - $ref: '#/components/parameters/accept-encoding'
      security:
      - 2-legged: []
      - 3-legged: []
components:
  headers:
    x-ads-startup-time:
      description: 'The service startup time, in the following date format: ``EEE MMM dd HH:mm:ss Z yyyy``.'
      schema:
        type: string
    x-ads-app-identifier:
      description: The service identifier. Comprises of the service name, version, and environment.
      schema:
        type: string
    x-ads-duration:
      description: The amount of time spent servicing the request, in milliseconds.
      schema:
        type: string
    x-ads-troubleshooting:
      description: Provides information about server failures, if any.
      schema:
        type: string
  parameters:
    accept-encoding:
      name: Accept-Encoding
      in: header
      schema:
        type: string
      description: "A comma separated list of the algorithms you want the response to be encoded in, specified in the order of preference.  \n\nIf you specify ``gzip`` or ``*``, content is compressed and returned in gzip format.\n"
  schemas:
    SupportedFormats:
      description: Represents the successful response of a List Supported Formats operation.
      x-stoplight:
        id: 8a4da3d6557e2
      type: object
      x-examples:
        example-1:
          formats:
            dwg:
            - f2d
            - f3d
            - rvt
            fbx:
            - f3d
            ifc:
            - rvt
            iges:
            - f3d
            - fbx
            - iam
            - ipt
            - wire
            obj:
            - asm
            - f3d
            - fbx
            - iam
            - ipt
            - neu
            - prt
            - sldasm
            - sldprt
            - smb
            - smt
            - step
            - stp
            - stpz
            - wire
            - x_b
            - x_t
            - asm\.\d+$
            - neu\.\d+$
            - prt\.\d+$
            step:
            - f3d
            - fbx
            - iam
            - ipt
            - smb
            - smt
            - wire
            stl:
            - f3d
            - fbx
            - iam
            - ipt
            - wire
            svf:
            - 3dm
            - 3ds
            - a
            - asm
            - axm
            - brd
            - catpart
            - catproduct
            - cgr
            - collaboration
            - dae
            - ddx
            - ddz
            - dgk
            - dgn
            - dlv3
            - dmt
            - dwf
            - dwfx
            - dwg
            - dwt
            - dxf
            - emodel
            - exp
            - f3d
            - fbrd
            - fbx
            - fsch
            - g
            - gbxml
            - glb
            - gltf
            - iam
            - idw
            - ifc
            - ifw
            - ige
            - iges
            - igs
            - ipt
            - iwm
            - jt
            - max
            - model
            - mpf
            - msr
            - neu
            - nwc
            - nwd
            - obj
            - osb
            - par
            - pdf
            - pmlprj
            - pmlprjz
            - prt
            - psm
            - psmodel
            - rcp
            - rvt
            - sab
            - sat
            - sch
            - session
            - skp
            - sldasm
            - sldprt
            - smb
            - smt
            - ste
            - step
            - stl
            - stla
            - stlb
            - stp
            - stpz
            - vpb
            - vue
            - wire
            - x_b
            - x_t
            - xas
            - xpr
            - zip
            - asm\.\d+$
            - neu\.\d+$
            - prt\.\d+$
            svf2:
            - 3dm
            - 3ds
            - a
            - asm
            - axm
            - brd
            - catpart
            - catproduct
            - cgr
            - collaboration
            - dae
            - ddx
            - ddz
            - dgk
            - dgn
            - dlv3
            - dmt
            - dwf
            - dwfx
            - dwg
            - dwt
            - dxf
            - emodel
            - exp
            - f3d
            - fbrd
            - fbx
            - fsch
            - g
            - gbxml
            - glb
            - gltf
            - iam
            - idw
            - ifc
            - ifw
            - ige
            - iges
            - igs
            - ipt
            - iwm
            - jt
            - max
            - model
            - mpf
            - msr
            - neu
            - nwc
            - nwd
            - obj
            - osb
            - par
            - pdf
            - pmlprj
            - pmlprjz
            - prt
            - psm
            - psmodel
            - rcp
            - rvt
            - sab
            - sat
            - sch
            - session
            - skp
            - sldasm
            - sldprt
            - smb
            - smt
            - ste
            - step
            - stl
            - stla
            - stlb
            - stp
            - stpz
            - vpb
            - vue
            - wire
            - x_b
            - x_t
            - xas
            - xpr
            - zip
            - asm\.\d+$
            - neu\.\d+$
            - prt\.\d+$
            thumbnail:
            - 3dm
            - 3ds
            - a
            - asm
            - axm
            - axmf
            - brd
            - catpart
            - catproduct
            - cgr
            - collaboration
            - dae
            - ddx
            - ddz
            - dgk
            - dgn
            - dlv3
            - dmt
            - dwf
            - dwfx
            - dwg
            - dwgx
            - dwt
            - dxf
            - emodel
            - exp
            - f2d
            - f3d
            - fbrd
            - fbx
            - flbr
            - fprj
            - fsch
            - g
            - gbxml
            - glb
            - gltf
            - iam
            - idw
            - ifc
            - ifw
            - ige
            - iges
            - igs
            - ipt
            - iwm
            - jt
            - max
            - model
            - mpf
            - msr
            - neu
            - nwc
            - nwd
            - obj
            - osb
            - par
            - pdf
            - pmlprj
            - pmlprjz
            - prt
            - psm
            - psmodel
            - rcp
            - rva
            - rvt
            - sab
            - sat
            - sch
            - session
            - skp
            - sldasm
            - sldprt
            - smb
            - smt
            - ste
            - step
            - stl
            - stla
            - stlb
            - stp
            - stpz
            - vpb
            - vue
            - wire
            - x_b
            - x_t
            - xas
            - xpr
            - zip
            - asm\.\d+$
            - neu\.\d+$
            - prt\.\d+$
      properties:
        formats:
          type: object
          description: A dictionary object that contains a collection of key-value pairs, where each pair represents the target file format and the corresponding source file formats.
          additionalProperties:
            type: array
            items:
              type: string
            description: 'Key-value pairs. The key is the target file format. The value is an array of source design file formats that can be translated to the specified target file format.

              '
      title: ''
  securitySchemes:
    2-legged:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: ''
          refreshUrl: ''
          scopes: {}
    3-legged-implicit:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: ''
          refreshUrl: ''
          scopes: {}
    3-legged:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: ''
          tokenUrl: ''
          refreshUrl: ''
          scopes: {}
x-stoplight:
  id: zm6m3b30rcbon
