openapi: 3.0.0
info:
  title: Construction.Account.Admin Account Management Versions API
  version: '1.0'
  contact:
    name: Autodesk Plaform Services
    url: https://aps.autodesk.com/
    email: aps.help@autodesk.com
  termsOfService: https://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/forge-platform-web-services-api-terms-of-service
  x-support: https://stackoverflow.com/questions/tagged/autodesk-platform-services
  description: 'The Account Admin API automates creating and managing projects, assigning and managing project users, and managing member and partner company directories. You can also synchronize data with external systems.

    '
servers:
- url: https://developer.api.autodesk.com
security:
- 2-legged: []
- 3-legged: []
tags:
- name: Versions
paths:
  /data/v1/projects/{project_id}/versions/{version_id}:
    parameters:
    - $ref: '#/components/parameters/project_id'
    - $ref: '#/components/parameters/version_id'
    get:
      tags:
      - Versions
      operationId: getVersion
      summary: Get a Version
      description: 'Returns the specified version of an item.


        **Note:** This operation supports Autodesk Construction Cloud (ACC) Projects. For more information, see the [ACC Platform API documentation](https://en.docs.acc.v1/overview/introduction/). '
      security:
      - 2-legged:
        - data:read
      - 3-legged:
        - data:read
      parameters:
      - $ref: '#/components/parameters/x-user-id'
      responses:
        '200':
          description: The specified version was retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Version'
        '400':
          $ref: '#/components/responses/400-general'
        '403':
          $ref: '#/components/responses/403-general'
        '404':
          $ref: '#/components/responses/404-general'
    patch:
      tags:
      - Versions
      operationId: patchVersion
      summary: Update a Version
      description: 'Updates the properties of the specified version of an  item. Currently, you can only change the name of the version.


        **Note:** This operation is not supported for BIM 360 and ACC. If you want to rename a version, create a new version with a new name.

        '
      security:
      - 2-legged:
        - data:write
      - 3-legged:
        - data:write
      responses:
        '200':
          description: The version was updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Version'
        '400':
          $ref: '#/components/responses/400-general'
        '403':
          $ref: '#/components/responses/403-general'
        '404':
          $ref: '#/components/responses/404-general'
        '423':
          $ref: '#/components/responses/423-general'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ModifyVersionPayload'
        description: ''
  /data/v1/projects/{project_id}/versions/{version_id}/item:
    parameters:
    - $ref: '#/components/parameters/project_id'
    - $ref: '#/components/parameters/version_id'
    get:
      tags:
      - Versions
      operationId: getVersionItem
      summary: Get Item by Version
      description: 'Returns the item corresponding to the specified version.


        **Note:** This operation supports Autodesk Construction Cloud (ACC) Projects. For more information, see the [ACC Platform API documentation](https://en.docs.acc.v1/overview/introduction/). '
      security:
      - 2-legged:
        - data:read
      - 3-legged:
        - data:read
      parameters:
      - $ref: '#/components/parameters/x-user-id'
      responses:
        '200':
          description: Successful retrieval of a specific item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
        '400':
          $ref: '#/components/responses/400-general'
        '403':
          $ref: '#/components/responses/403-general'
        '404':
          $ref: '#/components/responses/404-general'
  /data/v1/projects/{project_id}/versions/{version_id}/refs:
    parameters:
    - $ref: '#/components/parameters/project_id'
    - $ref: '#/components/parameters/version_id'
    get:
      tags:
      - Versions
      operationId: getVersionRefs
      summary: List Related Resources for a Version
      description: "Returns the resources (items, folders, and versions) that have a custom relationship with the specified version.\n\nCustom relationships can be established between a version of an item and other resources within the data domain service (folders, items, and versions).\n\n- Each relationship is defined by the id of the object at the other end of the relationship, together with type, attributes, and relationships links.\n- Callers will typically use a filter parameter to restrict the response to the custom relationship types (``filter[meta.refType]``) they are interested in.\n- The response body will have an included array that contains the ref resources that are involved in the relationship, which is essentially the response to the [List Custom Relationships for a Version](/en/docs/data/v2/reference/http/projects-project_id-versions-version_id-relationships-refs-GET/) operation. \n\n**Note:** This operation supports Autodesk Construction Cloud (ACC) Projects. For more information, see the [ACC Platform API documentation](https://en.docs.acc.v1/overview/introduction/). "
      security:
      - 2-legged:
        - data:read
      - 3-legged:
        - data:read
      parameters:
      - $ref: '#/components/parameters/x-user-id'
      - $ref: '#/components/parameters/filter_type_version'
      - $ref: '#/components/parameters/filter_id'
      - $ref: '#/components/parameters/filter_extension_type'
      responses:
        '200':
          description: The list of resources was successfully returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refs'
        '400':
          $ref: '#/components/responses/400-general'
        '403':
          $ref: '#/components/responses/403-general'
        '404':
          $ref: '#/components/responses/404-general'
  /data/v1/projects/{project_id}/versions/{version_id}/relationships/refs:
    parameters:
    - $ref: '#/components/parameters/project_id'
    - $ref: '#/components/parameters/version_id'
    get:
      tags:
      - Versions
      operationId: getVersionRelationshipsRefs
      summary: List Custom Relationships for a Version
      description: "Returns the custom relationships for the specified version. \n\nCustom relationships can be established between a version of an item and other resources within the data domain service (folders, items, and versions).\n\n- Each relationship is defined by the id of the object at the other end of the relationship, together with type, specific reference meta including extension data.\n- Callers will typically use a filter parameter to restrict the response to the custom relationship types (``filter[meta.refType]``) they are interested in.\n- The response body will have an included array that contains the resources in the relationship, which is essentially the response to the [List Related Resources operation](/en/docs/data/v2/reference/http/projects-project_id-versions-version_id-relationships-refs-POST/).\n- To get custom relationships for multiple versions, see the ListRefs command.\n\n**Note:** This operation supports Autodesk Construction Cloud (ACC) Projects. For more information, see the [ACC Platform API documentation](https://en.docs.acc.v1/overview/introduction/). "
      security:
      - 2-legged:
        - data:read
      - 3-legged:
        - data:read
      parameters:
      - $ref: '#/components/parameters/x-user-id'
      - $ref: '#/components/parameters/filter_type_version'
      - $ref: '#/components/parameters/filter_id'
      - $ref: '#/components/parameters/filter_refType'
      - $ref: '#/components/parameters/filter_direction'
      - $ref: '#/components/parameters/filter_extension_type'
      responses:
        '200':
          description: The custom relationships for the version was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelationshipRefs'
        '400':
          $ref: '#/components/responses/400-general'
        '403':
          $ref: '#/components/responses/403-general'
        '404':
          $ref: '#/components/responses/404-general'
    post:
      tags:
      - Versions
      operationId: createVersionRelationshipsRef
      summary: Create a Custom Relationship for a Version
      description: Creates a custom relationship between a version of an item and another resource within the data domain service (folder, item, or version).
      security:
      - 2-legged:
        - data:create
      - 3-legged:
        - data:create
      parameters:
      - $ref: '#/components/parameters/x-user-id'
      responses:
        '204':
          description: The custom relationship was successfully created.
        '400':
          $ref: '#/components/responses/400-general'
        '403':
          $ref: '#/components/responses/403-general'
        '404':
          $ref: '#/components/responses/404-general'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/RelationshipRefsPayload'
        description: ''
  /projects/{project_id}/versions/{version_id}/relationships/links:
    parameters:
    - $ref: '#/components/parameters/project_id'
    - $ref: '#/components/parameters/version_id'
    get:
      tags:
      - Versions
      operationId: getVersionRelationshipsLinks
      summary: List Links for a Version
      description: 'Returns a collection of links for the specified version of an item. Custom relationships can be established between a version of an item and other external resources residing outside the data domain service. A link’s href defines the target URI to access the resource.


        **Note:** This operation supports Autodesk Construction Cloud (ACC) Projects. For more information, see the [ACC Platform API documentation](https://en.docs.acc.v1/overview/introduction/). '
      security:
      - 2-legged:
        - data:read
      - 3-legged:
        - data:read
      parameters:
      - $ref: '#/components/parameters/x-user-id'
      responses:
        '200':
          description: Successful retrieval of the links collection associated with a specific resource.OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelationshipLinks'
        '400':
          $ref: '#/components/responses/400-general'
        '403':
          $ref: '#/components/responses/403-general'
        '404':
          $ref: '#/components/responses/404-general'
  /data/v1/projects/{project_id}/versions:
    parameters:
    - $ref: '#/components/parameters/project_id'
    post:
      tags:
      - Versions
      operationId: createVersion
      summary: Create a Version
      description: 'Creates a new versions of an existing item.


        Before creating a new version you must create a storage location for the version in OSS, and upload the file to that location. For more details about the workflow, see the tutorial on uploading a file.


        This operation also allows you to create a new version of an item by copying a specific version of an existing item from another folder within the project. The new version becomes the tip version of the item.


        Use the [Create an Item](/en/docs/data/v2/reference/http/projects-project_id-items-POST/) operation to copy a specific version of an existing item as a new item in another folder.


        This operation can also be used to delete files on BIM360 Document Management. For more information, please refer to the delete and restore a file tutorial.


        Before you use the Data Management API to access BIM 360 Docs files, you must provision your app through the BIM 360 Account Administrator portal. For details, see the [Manage Access to Docs tutorial](/en/docs/bim360/v1/tutorials/getting-started/manage-access-to-docs/).


        **Note:** This operation supports Autodesk Construction Cloud (ACC) Projects. For more information, see the [ACC Platform API documentation](https://en.docs.acc.v1/overview/introduction/). '
      security:
      - 2-legged:
        - data:create
      - 3-legged:
        - data:create
      parameters:
      - $ref: '#/components/parameters/x-user-id'
      - $ref: '#/components/parameters/copyFrom'
      responses:
        '201':
          description: Successful creation of a version.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedVersion'
        '400':
          $ref: '#/components/responses/400-general'
        '403':
          $ref: '#/components/responses/403-general'
        '404':
          $ref: '#/components/responses/404-general'
        '409':
          description: Conflict
        '423':
          $ref: '#/components/responses/423-general'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/VersionPayload'
        description: ''
  /data/v1/projects/{project_id}/versions/{version_id}/downloadFormats:
    parameters:
    - $ref: '#/components/parameters/project_id'
    - $ref: '#/components/parameters/version_id'
    get:
      tags:
      - Versions
      operationId: getVersionDownloadFormats
      summary: List Supported Download Formats
      description: 'Returns a list of file formats the specified version of an item can be downloaded as.


        **Note:** This operation supports Autodesk Construction Cloud (ACC) Projects. For more information, see the [ACC Platform API documentation](https://en.docs.acc.v1/overview/introduction/). '
      security:
      - 2-legged:
        - data:read
      - 3-legged:
        - data:read
      parameters:
      - $ref: '#/components/parameters/x-user-id'
      responses:
        '200':
          description: The list of file formats that the version can be downloaded as was successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadFormats'
        '400':
          $ref: '#/components/responses/400-general'
        '403':
          $ref: '#/components/responses/403-general'
        '404':
          $ref: '#/components/responses/404-general'
  /data/v1/projects/{project_id}/versions/{version_id}/downloads:
    parameters:
    - $ref: '#/components/parameters/project_id'
    - $ref: '#/components/parameters/version_id'
    get:
      tags:
      - Versions
      operationId: getVersionDownloads
      description: 'Returns the list of file formats of the specified version of an item currently available for download.


        **Note:** This operation is not fully implemented as yet. It currently returns an empty data object.'
      summary: List Available Download Formats
      security:
      - 2-legged:
        - data:read
      - 3-legged:
        - data:read
      parameters:
      - $ref: '#/components/parameters/x-user-id'
      - $ref: '#/components/parameters/filter_format_fileType'
      responses:
        '200':
          description: The list of available downloadformats was successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Downloads'
        '400':
          $ref: '#/components/responses/400-general'
        '403':
          $ref: '#/components/responses/403-general'
        '404':
          $ref: '#/components/responses/404-general'
components:
  responses:
    403-general:
      description: The request was successfully validated but permission is not granted, or the application has not been allowed access. Do not try again unless you resolve permissions first.
      content:
        application/json:
          schema:
            type: object
            x-examples:
              Example 1:
                jsonapi: {}
                links: {}
                data: []
                meta:
                  warnings:
                  - Id: null
                    HttpStatusCode: '403'
                    ErrorCode: BIM360DM_ERROR
                    Title: Unable to get hubs from BIM360DM APAC.
                    Detail: You don't have permission to access this API
                    AboutLink: null
                    Source: null
                    meta: null
            properties:
              jsonapi:
                type: object
                description: The JSON API object.
              links:
                type: object
                description: An object intended to contain the URI of a resource. Empty in this case, because an error has occurred.
              data:
                type: array
                description: An object intended to contain the return data. Empty in this case, because an error has occurred.
                items:
                  type: object
              meta:
                type: object
                description: Contains information about the error that occurred.
                properties:
                  warnings:
                    type: array
                    description: An array of objects, where each element of the array represents a warning.
                    items:
                      type: object
                      properties:
                        Id:
                          description: An ID assigned to the warning.
                          nullable: true
                        HttpStatusCode:
                          type: string
                          description: The HTTP status code returned in response to the request.
                        ErrorCode:
                          type: string
                          description: A code that indicates what went wrong.
                        Title:
                          type: string
                          description: A quick summary of the issue, at a glance.
                        Detail:
                          type: string
                          description: A more comprehensive explanation of the issue, providing specific information and potential solutions, if any.
                        AboutLink:
                          description: A hyperlink to documentation about the issue.
                          nullable: true
                        Source:
                          description: Information about the service that detected the issue.
                          nullable: true
                        meta:
                          description: Additional information about the issue.
                          nullable: true
    404-general:
      description: The specified resource was not found.
      content:
        application/json:
          schema:
            properties:
              id:
                type: string
    400-general:
      description: The request could not be understood by the server due to malformed syntax or missing request headers. The client SHOULD NOT repeat the request without modifications. The response body may give an indication of what is wrong with the request.
      content:
        application/json:
          schema:
            properties:
              id:
                type: string
    423-general:
      description: The source or destination resource is locked or being modified.
      content:
        application/json:
          schema:
            properties:
              id:
                type: string
  schemas:
    Version:
      description: An object that represdents a version.
      type: object
      x-examples:
        example-1:
          jsonapi:
            version: '1.0'
          links:
            self:
              href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn%3Aadsk.wipprod%3Afs.file%3Avf.b909RzMKR4mhc3O7UBY_8g%3Fversion%3D2
          data:
            type: versions
            id: urn:adsk.wipprod:fs.file:vf.b909RzMKR4mhc3O7UBY_8g?version=2
            attributes:
              name: version-test.pdf
              displayName: version-test.pdf
              createTime: '2016-04-01T11:12:35.000Z'
              createUserId: BW9RM76WZBGL
              createUserName: John Doe
              lastModifiedTime: '2016-04-01T11:15:22.000Z'
              lastModifiedUserId: BW9RM76WZBGL
              lastModifiedUserName: John Doe
              versionNumber: 2
              mimeType: application/pdf
              extension:
                type: versions:autodesk.bim360:File
                version: '1.0'
                schema:
                  href: https://developer.api.autodesk.com/schema/v1/versions/versions%3Aautodesk.bim360%3AFile-1.0
                data:
                  tempUrn: null
                  properties: {}
                  storageUrn: urn:adsk.objects:os.object:wip.dm.prod/9f8bdc3f-e29c-4ada-ab7b-bb8dfa821163.pdf
                  storageType: OSS
                  conformingStatus: NONE
            links:
              self:
                href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn%3Aadsk.wipprod%3Afs.file%3Avf.b909RzMKR4mhc3O7UBY_8g%3Fversion%3D2
              webView:
                href: https://docs.b360.autodesk.com/projects/c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/folders/urn%3Aadsk.wipprod%3Afs.folder%3Aco.0J4paz_FQgWPX2QRsaBkiw/detail/viewer/items/urn%3Aadsk.wipprod%3Afs.file%3Avf.b909RzMKR4mhc3O7UBY_8g%3Fversion%3D2
            relationships:
              item:
                links:
                  related:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn%3Aadsk.wipprod%3Adm.lineage%3Ab909RzMKR4mhc3O7UBY_8g
                data:
                  type: items
                  id: urn:adsk.wipprod:dm.lineage:b909RzMKR4mhc3O7UBY_8g
              refs:
                links:
                  self:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn%3Aadsk.wipprod%3Afs.file%3Avf.b909RzMKR4mhc3O7UBY_8g%3Fversion%3D2/relationships/refs
                  related:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn%3Aadsk.wipprod%3Afs.file%3Avf.b909RzMKR4mhc3O7UBY_8g%3Fversion%3D2/refs
              links:
                links:
                  self:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn%3Aadsk.wipprod%3Afs.file%3Avf.b909RzMKR4mhc3O7UBY_8g%3Fversion%3D2/relationships/links
              storage:
                meta:
                  link:
                    href: /oss/v2/buckets/wipbucket/objects/9f8bdc3f-e29c-4ada-ab7b-bb8dfa821163.pdf?scopes=b360project.6f8813fe-31a7-4440-bc63-d8ca97c856b4,global,O2tenant.tenantId
                data:
                  type: objects
                  id: urn:adsk.objects:os.object:wip.dm.prod/9f8bdc3f-e29c-4ada-ab7b-bb8dfa821163.pdf
              derivatives:
                data:
                  type: derivatives
                  id: dXJuOmFkc2sud2lwcWE6ZnMuZmlsZTp2Zi50X3hodWwwYVFkbWhhN2FBaVBuXzlnP3ZlcnNpb249MQ
                meta:
                  link:
                    href: /modelderivative/v2/designdata/dXJuOmFkc2sud2lwcWE6ZnMuZmlsZTp2Zi50X3hodWwwYVFkbWhhN2FBaVBuXzlnP3ZlcnNpb249MQ/manifest?scopes=b360project.6f8813fe-31a7-4440-bc63-d8ca97c856b4,global,O2tenant.tenantId
              thumbnails:
                data:
                  type: thumbnails
                  id: dXJuOmFkc2sud2lwcWE6ZnMuZmlsZTp2Zi50X3hodWwwYVFkbWhhN2FBaVBuXzlnP3ZlcnNpb249MQ
                meta:
                  link:
                    href: /modelderivative/v2/designdata/dXJuOmFkc2sud2lwcWE6ZnMuZmlsZTp2Zi50X3hodWwwYVFkbWhhN2FBaVBuXzlnP3ZlcnNpb249MQ/thumbnail?scopes=b360project.295285be-9cac-44d6-b365-625ebd327483,global,O2tenant.tenantId
              downloadFormats:
                links:
                  related:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn%3Aadsk.wipprod%3Afs.file%3Avf.b909RzMKR4mhc3O7UBY_8g%3Fversion%3D2/downloadFormats
      title: Version
      properties:
        jsonapi:
          $ref: '#/components/schemas/json_api_version'
        links:
          $ref: '#/components/schemas/json_api_links_self'
        data:
          $ref: '#/components/schemas/VersionData'
    json_api_meta_link:
      title: json_api_meta_link
      x-stoplight:
        id: 6c1450io6o3zx
      type: object
      description: Meta-information on links to this resource.
      properties:
        link:
          $ref: '#/components/schemas/json_api_link'
          x-stoplight:
            id: haazb0d04arzm
    type_link:
      type: string
      x-stoplight:
        id: f84280dd62b59
      enum:
      - links
      description: The type of the resource. Possible values are ``links``.
    type_entity:
      type: string
      enum:
      - folders
      - items
      - versions
      description: The type of the resource. Possible values are ``folders``, ``items``, ``versions``.
    type_downloadformats:
      type: string
      x-stoplight:
        id: shcfu6n1ys7jj
      enum:
      - downloadFormats
      description: The type of this resource. Possible values are ``downloadFormats``.
    web_view_link:
      title: web_view_link
      x-stoplight:
        id: b0lyf514eksq4
      type: object
      description: An object containing a link that opens the resource in a browser.
      properties:
        href:
          type: string
          x-stoplight:
            id: j0xj0hp05wo0l
          description: The location (URL) of the resource the link points to.
      required:
      - href
    json_api_relationships_links_versions:
      title: json_api_relationships_links_internal
      x-stoplight:
        id: da5pz40rvqocl
      type: object
      description: Information about the existing versions of the item.
      properties:
        links:
          $ref: '#/components/schemas/json_api_links_related'
          x-stoplight:
            id: s7etnb8jkm02f
      required:
      - links
    type_folder:
      type: string
      enum:
      - folders
      description: The type of the resource. Possible values are ``folders``.
    json_api_relationships_links_internal:
      title: json_api_relationships_links_internal
      x-stoplight:
        id: da5pz40rvqocl
      type: object
      description: Information on resources that are found under this resource.
      properties:
        links:
          $ref: '#/components/schemas/json_api_links_related'
          x-stoplight:
            id: s7etnb8jkm02f
      required:
      - links
    VersionData:
      title: 'Version Data:'
      description: A container of data describing a version.
      x-stoplight:
        id: eb2zg50zz7eul
      type: object
      properties:
        type:
          $ref: '#/components/schemas/type_version'
        id:
          type: string
          minLength: 1
          description: URN of the version object.
        attributes:
          $ref: '#/components/schemas/VersionAttributes'
        relationships:
          type: object
          description: Contains information on other resources related to this resource.
          required:
          - item
          - refs
          - links
          properties:
            item:
              type: object
              description: Contains information about the item this is a version of.
              properties:
                links:
                  $ref: '#/components/schemas/json_api_links_related'
                  x-stoplight:
                    id: fklud6hg20fwz
                data:
                  $ref: '#/components/schemas/json_api_type_id'
                  x-stoplight:
                    id: g661wq5zxnxxz
            refs:
              $ref: '#/components/schemas/json_api_relationships_links_refs'
            links:
              $ref: '#/components/schemas/json_api_relationships_links_links'
            storage:
              type: object
              x-stoplight:
                id: p77erscy2c106
              description: Contains information about the storage location that contains the binary data of this version.
              properties:
                data:
                  $ref: '#/components/schemas/json_api_type_id'
                meta:
                  $ref: '#/components/schemas/json_api_meta_link'
            derivatives:
              type: object
              x-stoplight:
                id: 1by3hohlaohio
              description: Contains information you can use to retrieve the derivatives of this version.
              properties:
                data:
                  $ref: '#/components/schemas/json_api_type_id'
                meta:
                  $ref: '#/components/schemas/json_api_meta_link'
            thumbnails:
              type: object
              x-stoplight:
                id: hrzlgcn3r896v
              description: 'Contains the information required to retrieve thumbnails of this version from the Model Derivative service. '
              properties:
                data:
                  $ref: '#/components/schemas/json_api_type_id'
                meta:
                  $ref: '#/components/schemas/json_api_meta_link'
            downloadFormats:
              type: object
              x-stoplight:
                id: r875g22qvyi3v
              description: Contains the endpoint you can use to find out what formats the version can be downloaded as.
              properties:
                links:
                  $ref: '#/components/schemas/json_api_links_related'
                  x-stoplight:
                    id: 41n0be6z8nbng
        links:
          $ref: '#/components/schemas/json_api_links_self_and_web_view'
      required:
      - type
      - id
      - attributes
      - relationships
    base_attributes_extension_object_with_schema_link:
      title: 'base_attributes_extension_object_with_schema_link:'
      x-stoplight:
        id: aj8zaihf7alzp
      type: object
      description: A container of additional properties that extends this resource.
      properties:
        type:
          type: string
          x-stoplight:
            id: jdli2qhh88jq3
          description: The Type ID of the schema that defines the structure of the ``extension.data`` object.
        version:
          type: string
          x-stoplight:
            id: x1l84lpe0ce01
          description: The version of the schema that applies to the ``extension.data`` object.
        schema:
          type: object
          x-stoplight:
            id: el8fixpzd4k3a
          description: A container for the hyperlink to the schema of the type.
          required:
          - href
          properties:
            href:
              type: string
              x-stoplight:
                id: oh11qown58iob
              description: A hypertext reference to the location of the referenced resource.
        data:
          type: object
          x-stoplight:
            id: 5h0r1ilaapxra
          description: The object that contains the additional properties that extends this resource.
          additionalProperties:
            type: object
            description: 'Key-value pairs that contain the name and data of additional properties.

              '
      required:
      - type
      - version
      - schema
    nested_xref:
      type: string
      x-stoplight:
        id: e8d7c1f07c607
      enum:
      - attachment
      - overlay
      description: 'The type of the xref, which defines how nested xrefs are handled. Possible values are:


        -  ``attachment``: Nested xrefs are not ignored.

        -  ``overlay`` : Nested xrefs are ignored.'
    CreatedVersion:
      description: The payload returned upon successful creation of a new version.
      type: object
      x-examples:
        example-1:
          jsonapi:
            version: '1.0'
          links:
            self:
              href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn%3Aadsk.wipprod%3Afs.file%3Avf.AABBCCDD%3Fversion%3D5
          data:
            type: versions
            id: urn:adsk:wipprod:fs.file:vf.AABBCCDD?version=5
            attributes:
              name: newname
              displayName: drawing
              createTime: '2018-03-26T09:40:16.0000000Z'
              createUserId: CGT5PFDIZMAS
              createUserName: Owen
              lastModifiedTime: '2018-03-26T09:41:16.0000000Z'
              lastModifiedUserId: CGT5PFDIZMAS
              lastModifiedUserName: Owen
              versionNumber: 1
              extension:
                type: versions:autodesk.core:File
                version: '1.0'
                data:
                  processState: NEEDS_PROCESSING
            links:
              self:
                href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn%3Aadsk.wipprod%3Afs.file%3Avf.AABBCCDD%3Fversion%3D5
              webView:
                href: https://docs.b360.autodesk.com/projects/c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/folders/urn%3Aadsk.wipprod%3Afs.folder%3Aco.akd2j_B3Tsu7v6v7Kxf2oQ/detail/viewer/items/urn%3Aadsk.wipprod%3Afs.file%3Avf.AABBCCDD%3Fversion%3D5
          included:
          - type: items
            id: urn:adsk.wipprod:dm.lineage:2344sdfd
            attributes:
              displayName: drawing
              createTime: '2018-03-26T09:40:16.0000000Z'
              createUserId: CGT5PFDIZMAS
              createUserName: Owen
              lastModifiedTime: '2018-03-26T09:41:16.0000000Z'
              lastModifiedUserId: CGT5PFDIZMAS
              lastModifiedUserName: Owen
              hidden: false
              reserved: false
              extension:
                type: items:autodesk.core:File
                version: '1.0'
            links:
              self:
                href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn%3Aadsk.wipprod%3Afs.file%3Avf.AABBCCDD%3Fversion%3D5
              webView:
                href: https://docs.b360.autodesk.com/projects/c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/folders/urn%3Aadsk.wipprod%3Afs.folder%3Aco.akd2j_B3Tsu7v6v7Kxf2oQ/detail/viewer/items/urn%3Aadsk.wipprod%3Afs.file%3Avf.AABBCCDD%3Fversion%3D5
      title: CreatedVersion
      properties:
        jsonapi:
          $ref: '#/components/schemas/json_api_version'
        links:
          $ref: '#/components/schemas/json_api_links_self'
        data:
          type: object
          description: A container of data describing the version.
          properties:
            type:
              $ref: '#/components/schemas/type_version'
            id:
              type: string
              minLength: 1
              description: The ID that uniquely identifies the version (Version ID). The Version ID is the URN of the version.
            attributes:
              $ref: '#/components/schemas/VersionAttributes'
            links:
              $ref: '#/components/schemas/json_api_links_self_and_web_view'
        included:
          description: An array of objects, where each object represents a resource included with the object. For example, the item corresponding to the new version.
          type: array
          items:
            type: object
            properties:
              type:
                $ref: '#/components/schemas/type_item'
              id:
                type: string
                minLength: 1
                description: The ID to uniquely identify the resource.
              attributes:
                $ref: '#/components/schemas/ItemAttributes'
              links:
                type: object
                description: Contains the links to use to access references of this resource.
                properties:
                  self:
                    $ref: '#/components/schemas/json_api_links_self'
                    x-stoplight:
                      id: 7nmmtxmp5jbcd
                  related:
                    $ref: '#/components/schemas/json_api_links_related'
                    x-stoplight:
                      id: lcnhwb1kg48xh
              relationships:
                type: object
                description: Contains links to resources that are directly related to this item.
                required:
                - tip
                - versions
                - parent
                - refs
                - links
                properties:
                  tip:
                    $ref: '#/components/schemas/json_api_relationships_links_to_tip_version'
                  versions:
                    $ref: '#/components/schemas/json_api_relationships_links_versions'
                  parent:
                    $ref: '#/components/schemas/json_api_relationships_links_folder_parent'
                  refs:
                    $ref: '#/components/schemas/json_api_relationships_links_refs'
                  links:
                    $ref: '#/components/schemas/json_api_relationships_links_links'
            required:
            - type
            - id
            - attributes
            - links
            - relationships
    type_version:
      type: string
      x-stoplight:
        id: f8e280dd63a5b
      enum:
      - versions
      description: The type of the resource. Possible values are ``versions``.
    type_item:
      type: string
      enum:
      - items
      description: The type of the resource. Possible values are ``items``.
    Downloads:
      description: Successful retrieval of the available downloads collection associated with a specific version.
      type: object
      x-examples:
        example-1:
          jsonapi:
            version: '1.0'
          links:
            self:
              href: /data/v1/projects/{project_id}/downloads
          data:
          - type: downloads
            id: '{download_id}'
            attributes:
              format:
                fileType: pdf
            relationships:
              source:
                links:
                  related:
                    href: /data/v1/projects/{project_id}/downloads/{download_id}/source
                data:
                  type: versions
                  id: '{version_id}'
              storage:
                data:
                  type: objects
                  id: urn:adsk.objects:os.object:{wip_bucket}/{guid}.pdf
                meta:
                  link:
                    href: /oss/v2/buckets/{wip_bucket}/objects/{guid}.pdf?scopes={list_of_scopes}
            links:
              self:
                href: /data/v1/projects/{project_id}/downloads/{download_id}
      title: Downloads
      properties:
        jsonapi:
          $ref: '#/components/schemas/json_api_version'
        links:
          $ref: '#/components/schemas/json_api_links_self'
        data:
          type: array
          uniqueItems: true
          minItems: 1
          items:
            $ref: '#/components/schemas/DownloadData'
    DownloadFormats:
      description: Successful retrieval of the available download formats for a specific version.
      type: object
      x-examples:
        example-1:
          jsonapi:
            version: '1.0'
          links:
            self:
              href: /data/v1/projects/{some_project_id}/versions/{some_version_id}/downloadFormats
          data:
            type: downloadFormats
            id: 96af4f60-53b8-4efe-b890-1eaa9ea5cb08
            attributes:
              formats:
              - fileType: pdf
              - fileType: dwg
      title: DownloadFormats
      properties:
        jsonapi:
          $ref: '#/components/schemas/json_api_version'
        links:
          $ref: '#/components/schemas/json_api_links_self'
        data:
          type: object
          description: Contains information about the file formats the version can be downloaded as.
          properties:
            type:
              $ref: '#/components/schemas/type_downloadformats'
            id:
              type: string
              minLength: 1
              description: The URN of the version.
            attributes:
              type: object
              description: Contains the list of formats.
              properties:
                formats:
                  type: array
                  uniqueItems: true
                  minItems: 1
                  description: An array of objects, where each object corresponds to a file format.
                  items:
                    type: object
                    properties:
                      fileType:
                        type: string
                        minLength: 1
                        description: The file name extension of the supported file format.
    folder_extension_with_schema_link:
      type: object
      description: A container of additional properties that extends the default properties of this resource.
      properties:
        type:
          type: string
          minLength: 1
          description: The type of folder the resource represents.
        version:
          type: string
          minLength: 1
          description: The version of the folder type.
        schema:
          $ref: '#/components/schemas/json_api_link'
        data:
          type: object
          additionalProperties:
            type: object
            description: 'JSON objects that contain additional properties specific to the folder type.

              '
          description: The object that contains the additional properties, which makes this resource extensible.
      required:
      - type
      - version
      - schema
    MetaRefs:
      description: Metadata on the resources referenced by this resource.
      type: object
      title: MetaRefs
      properties:
        refType:
          $ref: '#/components/schemas/type_ref'
        direction:
          $ref: '#/components/schemas/metarefs_direction'
        fromId:
          type: string
          x-stoplight:
            id: u4hxp7i1mdfuh
          description: The ID of the resource from where data flows.
        fromType:
          $ref: '#/components/schemas/type_entity'
          x-stoplight:
            id: e061oc1d2clmi
        toId:
          type: string
          x-stoplight:
            id: 4hwdw63giy88s
          description: The ID of the resource to where the data flows.
        toType:
          $ref: '#/components/schemas/type_entity'
          x-stoplight:
            id: xnhp75ludslo9
        extension:
          $ref: '#/components/schemas/base_attributes_extension_object_with_schema_link'
          x-stoplight:
            id: wnoe4cjsepp56
    json_api_link:
      title: json_api_link
      x-stoplight:
        id: 0eyqmow1ie1is
      type: object
      description: An object containing the hyperlink to the referenced resource.
      properties:
        href:
          type: string
          x-stoplight:
            id: d9k2el45bomh9
          description: A hypertext reference to the location of the referenced resource.
      required:
      - href
    json_api_links_related:
      title: json_api_links_related
      x-stoplight:
        id: fgwxlu5412wa7
      type: object
      description: Contains the endpoint you can use to retrieve the related resources.
      properties:
        related:
          type: object
          x-stoplight:
            id: o5ksk96io3pui
          description: "An object containing the endpoint to retrieve \na list of related resources."
          properties:
            href:
              type: string
              x-stoplight:
                id: n8345byjqrj4f
              description: The URI of the endpoint that returns the related resources.
    json_api_relationships_links_links:
      type: object
      required:
      - links
      description: Information on the link resources found in this resource.
      properties:
        links:
          type: object
          required:
          - self
          description: The object containing information on links to this resource.
          properties:
            self:
              $ref: '#/components/schemas/json_api_link'
    json_api_relationships_links_to_tip_version:
      title: json_api_relationships_links_to_tip_version
      x-stoplight:
        id: qmmyfor4fmle9
      type: object
      description: Information about the latest version of the item.
      properties:
        links:
          $ref: '#/components/schemas/json_api_links_related'
          x-stoplight:
            id: e35szkgp1o7b8
        data:
          $ref: '#/components/schemas/json_api_type_id'
          x-stoplight:
            id: zdowc6ik9vvcu
    json_api_version:
      title: json_api_version
      x-stoplight:
        id: wtcnivkdziwr7
      type: object
      description: The JSON API object.
      properties:
        version:
          description: The version of JSON API. Will always be ``1.0``.
          $ref: '#/components/schemas/json_api_version_value'
      required:
      - version
    filter_direction:
      type: string
      enum:
      - from
      - to
      description: 'Filter by the direction of the reference. Possible values: ``from`` and ``to``.'
    json_api_relationships_links_refs:
      type: object
      required:
      - links
      description: Information on other resources that have a custom relationship with this resource.
      properties:
        links:
          type: object
          required:
          - self
          - related
          description: The object containing information on links of related resources that share a custom relationship with this resource.
          properties:
            self:
              $ref: '#/components/schemas/json_api_link'
            related:
              $ref: '#/components/schemas/json_api_link'
    RelationshipRefs:
      description: ''
      x-stoplight:
        id: b8ed6741f539a
      type: object
      x-examples:
        example-1:
          jsonapi:
            version: '1.0'
          links:
            self:
              href: /data/v1/projects/b.5ae9543e-abd5-45c5-8718-33d26652267f/items/urn:adsk.wipprod:dm.lineage:b909RzMKR4mhc3O7UBY_8g/relationships/refs
            related:
              href: /data/v1/projects/b.5ae9543e-abd5-45c5-8718-33d26652267f/items/urn:adsk.wipprod:dm.lineage:b909RzMKR4mhc3O7UBY_8g/refs
          data:
          - type: items
            id: urn:adsk.wipprod:fs.file:vf.b909RzMKR4mhc3O7UBY_8g?version=2
            meta:
              refType: xrefs
              fromId: urn:adsk.wipprod:fs.file:vf.b909RzMKR4mhc3O7UBY_8g?version=2
              fromType: versions
              toId: urn:adsk.wipprod:dm.lineage:b909RzMKR4mhc3O7UBY_8g
              toType: items
              direction: from
              extension:
                type: xrefs:my.custom:Xref
                version: '1.0'
                schema:
                  href: /schema/v1/versions/xrefs:my.custom:Xref-1.0
                data: {}
          included:
          - type: versions
            id: urn:adsk.wipprod:fs.file:vf.b909RzMKR4mhc3O7UBY_8g?version=2
            attributes:
              name: version-test.pdf
              displayName: version-test.pdf
              createTime: '2016-04-01T11:12:35.000Z'
              createUserId: BW9RM76WZBGL
              createUserName: John Doe
              lastModifiedTime: '2016-04-01T11:15:22.000Z'
              lastModifiedUserId: BW9RM76WZBGL
              lastModifiedUserName: John Doe
              versionNumber: 2
              mimeType: application/pdf
              extension:
                type: versions:autodesk.bim360:File
                version: '1.0'
                schema:
                  href: /schema/v1/versions/versions%3Aautodesk.bim360%3AFile-1.0
                data:
                  tempUrn: null
                  properties: {}
                  storageUrn: urn:adsk.objects:os.object:wip.dm.prod/9f8bdc3f-e29c-4ada-ab7b-bb8dfa821163.pdf
                  storageType: OSS
                  conformingStatus: NONE
            links:
              self:
                href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn%3Aadsk.wipprod%3Afs.file%3Avf.b909RzMKR4mhc3O7UBY_8g%3Fversion%3D2
              webView:
                href: https://docs.b360.autodesk.com/projects/c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/folders/urn%3Aadsk.wipprod%3Afs.folder%3Aco.0J4paz_FQgWPX2QRsaBkiw/detail/viewer/items/urn%3Aadsk.wipprod%3Afs.file%3Avf.b909RzMKR4mhc3O7UBY_8g%3Fversion%3D2
            relationships:
              item:
                links:
                  related:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn%3Aadsk.wipprod%3Adm.lineage%3Ab909RzMKR4mhc3O7UBY_8g
                data:
                  type: items
                  id: urn:adsk.wipprod:dm.lineage:b909RzMKR4mhc3O7UBY_8g
              refs:
                links:
                  self:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn%3Aadsk.wipprod%3Afs.file%3Avf.b909RzMKR4mhc3O7UBY_8g%3Fversion%3D2/relationships/refs
                  related:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn%3Aadsk.wipprod%3Afs.file%3Avf.b909RzMKR4mhc3O7UBY_8g%3Fversion%3D2/refs
              links:
                links:
                  self:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn%3Aadsk.wipprod%3Afs.file%3Avf.b909RzMKR4mhc3O7UBY_8g%3Fversion%3D2/relationships/links
              storage:
                meta:
                  link:
                    href: /oss/v2/buckets/wipbucket/objects/9f8bdc3f-e29c-4ada-ab7b-bb8dfa821163.pdf?scopes=b360project.6f8813fe-31a7-4440-bc63-d8ca97c856b4,global,O2tenant.tenantId
                data:
                  type: objects
                  id: urn:adsk.objects:os.object:wip.dm.prod/9f8bdc3f-e29c-4ada-ab7b-bb8dfa821163.pdf
          - type: versions
            id: urn:adsk.wipprod:fs.file:vf.b909RzMKR4mhc3O7UBY_8g?version=1
            attributes:
              name: version-test.pdf
              displayName: version-test.pdf
              createTime: '2016-04-01T11:09:03.000Z'
              createUserId: BW9RM76WZBGL
              createUserName: John Doe
              lastModifiedTime: '2016-04-01T11:11:18.000Z'
              lastModifiedUserId: BW9RM76WZBGL
              lastModifiedUserName: John Doe
              versionNumber: 1
              mimeType: application/pdf
              extension:
                type: versions:autodesk.bim360:File
                version: '1.0'
                schema:
                  href: /schema/v1/versions/versions%3Aautodesk.bim360%3AFile-1.0
                data:
                  tempUrn: null
                  properties: {}
                  storageUrn: urn:adsk.objects:os.object:wip.dm.prod/3c8f6bbc-fe5c-4815-a92e-8b8635e7b1cb.pdf
                  storageType: OSS
                  conformingStatus: NONE
            links:
              self:
                href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn%3Aadsk.wipprod%3Afs.file%3Avf.b909RzMKR4mhc3O7UBY_8g%3Fversion%3D1
              webView:
                href: https://docs.b360.autodesk.com/projects/c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/folders/urn%3Aadsk.wipprod%3Afs.folder%3Aco.0J4paz_FQgWPX2QRsaBkiw/detail/viewer/items/urn%3Aadsk.wipprod%3Afs.file%3Avf.b909RzMKR4mhc3O7UBY_8g%3Fversion%3D1
            relationships:
              item:
                links:
                  related:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn%3Aadsk.wipprod%3Adm.lineage%3Ab909RzMKR4mhc3O7UBY_8g
                data:
                  type: items
                  id: urn:adsk.wipprod:dm.lineage:b909RzMKR4mhc3O7UBY_8g
              refs:
                links:
                  self:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn%3Aadsk.wipprod%3Afs.file%3Avf.b909RzMKR4mhc3O7UBY_8g%3Fversion%3D1/relationships/refs
                  related:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn%3Aadsk.wipprod%3Afs.file%3Avf.b909RzMKR4mhc3O7UBY_8g%3Fversion%3D1/refs
              links:
                links:
                  self:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn%3Aadsk.wipprod%3Afs.file%3Avf.b909RzMKR4mhc3O7UBY_8g%3Fversion%3D1/relationships/links
              storage:
                meta:
                  link:
                    href: /oss/v2/buckets/wipbucket/objects/3c8f6bbc-fe5c-4815-a92e-8b8635e7b1cb.pdf?scopes=b360project.6f8813fe-31a7-4440-bc63-d8ca97c856b4,global,O2tenant.tenantId
                data:
                  type: objects
                  id: urn:adsk.objects:os.object:wip.dm.prod/3c8f6bbc-fe5c-4815-a92e-8b8635e7b1cb.pdf
          - type: items
            id: urn:adsk.wipprod:dm.lineage:b909RzMKR4mhc3O7UBY_8g
            attributes:
              displayName: version-test.pdf
              createTime: '2016-04-01T11:09:03.000Z'
              createUserId: BW9RM76WZBGL
              createUserName: John Doe
              lastModifiedTime: '2016-04-01T11:11:18.000Z'
              lastModifiedUserId: BW9RM76WZBGL
              lastModifiedUserName: John Doe
              hidden: false
              reserved: true
              reservedTime: '2016-04-01T11:10:00.000Z'
              reservedUserId: BW9RM76WZBGL
              reservedUserName: John Doe
              extension:
                data: {}
                version: '1.0'
                type: items:autodesk.bim360:File
                schema:
                  href: https://developer.api.autodesk.com/schema/v1/versions/items%3Aautodesk.bim360%3AFile-1.0
            relationships:
              tip:
                data:
                  type: versions
                  id: urn:adsk.wipprod:fs.file:vf.b909RzMKR4mhc3O7UBY_8g?version=2
                links:
                  related:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn%3Aadsk.wipprod%3Adm.lineage%3AhC6k4hndRWaeIVhIjvHu8w/tip
              parent:
                data:
                  type: folders
                  id: urn:adsk.wipprod:dm.folder:sdfedf8wefl
                links:
                  related:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn:adsk.wipprod:dm.lineage:b909RzMKR4mhc3O7UBY_8g/parent
              versions:
                links:
                  related:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn:adsk.wipprod:dm.lineage:b909RzMKR4mhc3O7UBY_8g/versions
              refs:
                links:
                  self:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn:adsk.wipprod:dm.lineage:b909RzMKR4mhc3O7UBY_8g/relationships/refs
                  related:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn:adsk.wipprod:dm.lineage:b909RzMKR4mhc3O7UBY_8g/refs
              links:
                links:
                  self:
                    href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn:adsk.wipprod:dm.lineage:b909RzMKR4mhc3O7UBY_8g/relationships/links
            links:
              self:
                href: /data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn:adsk.wipprod:dm.lineage:b909RzMKR4mhc3O7UBY_8g
              webView:
                href: https://docs.b360.autodesk.com/projects/c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/folders/urn%3Aadsk.wipprod%3Afs.folder%3Aco.0J4paz_FQgWPX2QRsaBkiw/detail/viewer/items/urn:adsk.wipprod:dm.lineage:b909RzMKR4mhc3O7UBY_8g
      title: RelationshipRefs
      properties:
        jsonapi:
          $ref: '#/components/schemas/json_api_version'
        links:
          oneOf:
          - $ref: '#/components/schemas/json_api_links_self'
            x-stoplight:
              id: ncsj1gqlzx0w1
          - $ref: '#/components/schemas/json_api_links_related'
            x-stoplight:
              id: 6typpmchmdrk0
          description: Information on links to this resource.
        data:
          type: array
          uniqueItems: true
          minItems: 1
          description: An array of objects where each object represents the data of a folder, item, or resource.
          items:
            type: object
            properties:
              type:
                $ref: '#/components/schemas/type_entity'
                x-stoplight:
                  id: h9tic0vwmri2v
              id:
                type: string
                x-stoplight:
                  id: x2owtaamfdr3z
                description: The ID that uniquely identifies the resource.
              meta:
                $ref: '#/components/schemas/MetaRefs'
                x-stoplight:
                  id: rp3g1jl3ze12n
        included:
          type: array
          x-stoplight:
            id: 5qk2m98clernk
          description: An array of objects, where each object represents a folder, item, or version included within this resource.
          items:
            x-stoplight:
              id: i9y1frfztzdsr
            oneOf:
            - $ref: '#/components/schemas/FolderData'
              x-stoplight:
                id: xmpzaxcb1y34e
            - $ref: '#/components/schemas/ItemData'
              x-stoplight:
                id: hd6qe25i2uegf
            - $ref: '#/components/schemas/VersionData'
              x-stoplight:
                id: byujkhsqw5k90
            discriminator:
              propertyName: type
              mapping:
                folders: '#/components/schemas/FolderData'
                items: '#/components/schemas/ItemData'
                versions: '#/components/schemas/VersionData'
    VersionPayload:
      description: Describe the version to be created.
      x-stoplight:
        id: ae5a85813bc92
      type: object
      x-examples:
        example-1:
          jsonapi:
            version: '1.0'
          data:
            type: versions
            attributes:
              name: drawing.dwg
              extension:
                type: versions:autodesk.core:File
                version: '1.0'
            relationships:
              item:
                data:
                  type: items
                  id: urn:adsk.wipprod:dm.lineage:AeYgDtcTSuqYoyMweWFhhQ
              storage:
                data:
                  type: objects
                  id: urn:adsk.objects:os.object:wip.dm.prod/980cff2c-f0f8-43d9-a151-4a2d916b91a2.dwg
      title: VersionPayload
      properties:
        jsonapi:
          $ref: '#/components/schemas/json_api_version'
        data:
          type: object
          description: The data that describes the version to be created.
          required:
          - type
          - attributes
          - relationships
          properties:
            type:
              $ref: '#/components/schemas/type_version'
            attributes:
              type: object
              description: The properties of the version to be created.
              required:
              - name
              - extension
              properties:
                name:
                  type: string
                  description: "The file name to be used when synced to local disk (1-255 characters). \n\nAvoid using the following reserved characters in the name: ``<``, ``>``, ``:``, ``\"``, ``/``, ``\\``, ``|``, ``?``, ``*``, ``'``, ``\\n``, ``\\r``, ``\\t``, ``\\0``, ``\\f``, ``¢``, ``™``, ``$``, ``®``.\n\nIf you are creating the new version by copying an existing version of another item, the system uses the name of the source by default. However, if you specify a name, it will override the default name."
                  minLength: 1
                extension:
                  type: object
                  description: A container of additional properties that extends the default properties of the version to be created.
                  required:
                  - type
                  - version
                  properties:
                    type:
                      type: string
                      minLength: 1
                      description: The Type ID of the schema that defines the structure of the ``extension.data`` object.
                    version:
                      type: string
                      minLength: 1
                      description: The version of the schema that applies to the ``extension.data`` object.
                    data:
                      type: object
                      description: 'The container of additional properties.


                        The additional properties must follow the schema specified by ``extensions.type`` and ``extensions.version``. Properties that don''t follow the schema will be ignored.

                        '
                displayName:
                  type: string
                  description: Reserved for future use. Use ``data.attributes.name`` for the name.
            relationships:
              type: object
              description: A container of links to resources that are related to the version to be created.
              required:
              - item
              properties:
                item:
                  type: object
                  description: Contains information about the item this is a version of.
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      description: A container of data on the item.
                      required:
                      - type
                      - id
                      properties:
                        type:
                          $ref: '#/components/schemas/type_item'
                        id:
                          type: string
                          minLength: 1
                          description: The ID that uniquely identifies the item.
                storage:
                  type: object
                  description: Contains the information about the storage location that contains the binary data of this version.
                  properties:
                    data:
                      type: object
                      description: A container of data on the storage location.
                      required:
                      - type
                      - id
                      properties:
                        type:
                          $ref: '#/components/schemas/type_object'
                        id:
                          type: string
                          minLength: 1
                          description: The ID that uniquely identifies the storage location.
                  required:
                  - data
                refs:
                  type: object
                  description: Information on other resources that will share a custom relationship with the version being created.
                  properties:
                    data:
                      type: array
                      description: An array of object, where each object represents a reference.
                      items:
                        type: object
                        properties:
                          type:
                            $ref: '#/components/schemas/type_version'
                          id:
                            type: string
                            description: The URN (Version ID) of the referenced version.
                          meta:
                            type: object
                            description: Contains meta information about the reference.
                            required:
                            - refType
                            - direction
                            - extension
                            properties:
                              refType:
                                $ref: '#/components/schemas/reftypes_xref'
                              direction:
                                $ref: '#/components/schemas/metarefs_direction'
                              extension:
                                type: object
                                description: Contains additional properties that extend the default properties of the relationship.
                                properties:
                                  type:
                                    $ref: '#/components/schemas/extension_type_core_xref'
                                  version:
                                    type: string
                                    description: The version of the xref type. Currently must be ``1.1.0``.
                                  data:
                                    type: object
                                    properties:
                                      nestedType:
                                        $ref: '#/components/schemas/nested_xref'
                                    required:
                                    - nestedType
                        required:
                        - type
                        - id
                        - meta
                  required:
                  - data
        meta:
          $ref: '#/components/schemas/metaForWebhooks'
      required:
      - jsonapi
      - data
    metarefs_direction:
      type: string
      x-stoplight:
        id: 506556039042a
      enum:
      - from
      - to
      description: 'Describes the direction of data flow in the relationship. Possible values are:


        - ``to`` - Data flows from this resource to the related resource.

        - ``from`` - Data flows from the related resource to this resource. '
    Item:
      description: An object that represents an item.
      type: object
      x-examples:
        example-1:
          jsonapi:
            version: '1.0'
          links:
            self:
              href: https://developer.api.autodesk.com/data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn:adsk.wipprod:dm.lineage:hC6k4hndRWaeIVhIjvHu8w
          data:
            type: items
            id: urn:adsk.wipprod:dm.lineage:hC6k4hndRWaeIVhIjvHu8w
            attributes:
              displayName: my_model.rvt
              createTime: '2018-01-17T11:52:11.0000000Z'
              createUserId: BW9RM76WZBGL
              createUserName: John Doe
              lastModifiedTime: '2018-01-17T11:53:19.0000000Z'
              lastModifiedUserId: BW9RM76WZBGL
              lastModifiedUserName: John Doe
              hidden: false
              reserved: false
              extension:
                type: items:autodesk.bim360:C4RModel
                version: 1.0.0
                schema:
                  href: https://developer.api.autodesk.com/schema/v1/versions/items:autodesk.bim360:C4RModel-1.0.0
                data:
                  sourceFileName: my_model.rvt
            links:
              self:
                href: https://developer.api.autodesk.com/data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn:adsk.wipprod:dm.lineage:hC6k4hndRWaeIVhIjvHu8w
              webView:
                href: https://docs.b360.autodesk.com/projects/c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/folders/urn%3Aadsk.wipprod%3Afs.folder%3Aco.0J4paz_FQgWPX2QRsaBkiw/detail/viewer/items/urn:adsk.wipprod:dm.lineage:hC6k4hndRWaeIVhIjvHu8w
            relationships:
              tip:
                data:
                  type: versions
                  id: urn:adsk.wipprod:fs.file:vf.hC6k4hndRWaeIVhIjvHu8w?version=2
                links:
                  related:
                    href: https://developer.api.autodesk.com/data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn:adsk.wipprod:dm.lineage:hC6k4hndRWaeIVhIjvHu8w/tip
              versions:
                links:
                  related:
                    href: https://developer.api.autodesk.com/data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn:adsk.wipprod:dm.lineage:hC6k4hndRWaeIVhIjvHu8w/versions
              parent:
                data:
                  type: folders
                  id: urn:adsk.wipprod:fs.folder:co.sdfedf8wef
                links:
                  related:
                    href: https://developer.api.autodesk.com/data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn:adsk.wipprod:dm.lineage:hC6k4hndRWaeIVhIjvHu8w/parent
              refs:
                links:
                  self:
                    href: https://developer.api.autodesk.com/data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn:adsk.wipprod:dm.lineage:hC6k4hndRWaeIVhIjvHu8w/relationships/refs
                  related:
                    href: https://developer.api.autodesk.com/data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn:adsk.wipprod:dm.lineage:hC6k4hndRWaeIVhIjvHu8w/refs
              links:
                links:
                  self:
                    href: https://developer.api.autodesk.com/data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/items/urn:adsk.wipprod:dm.lineage:hC6k4hndRWaeIVhIjvHu8w/relationships/links
          included:
          - type: versions
            id: urn:adsk.wipprod:fs.file:vf.hC6k4hndRWaeIVhIjvHu8w?version=2
            attributes:
              name: my_model.rvt
              displayName: my_model
              createTime: '2018-01-17T11:52:34.0000000Z'
              createUserId: BW9RM76WZBGL
              createUserName: John Doe
              lastModifiedTime: '2018-01-17T11:53:20.0000000Z'
              lastModifiedUserId: BW9RM76WZBGL
              lastModifiedUserName: John Doe
              versionNumber: 2
              mimeType: application/vnd.autodesk.r360
              fileType: rvt
              extension:
                type: versions:autodesk.bim360:C4RModel
                version: 1.0.0
                schema:
                  href: https://developer.api.autodesk.com/schema/v1/versions/versions:autodesk.bim360:C4RModel-1.0.0
                data:
                  modelVersion: 2
                  projectGuid: project-guid
                  originalItemUrn: urn:adsk.wipprod:dm.lineage:hC6k4hndRWaeIVhIjvHu8w
                  isCompositeDesign: false
                  modelType: multiuser
                  mimeType: application/vnd.autodesk.r360
                  modelGuid: model-guid
                  processState: PROCESSING_COMPLETE
                  extractionState: SUCCESS
                  splittingState: NOT_SPLIT
                  reviewState: NOT_IN_REVIEW
                  revisionDisplayLabel: '2'
                  sourceFileName: my_model.rvt
                  conformingStatus: NONE
            links:
              self:
                href: https://developer.api.autodesk.com/data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn:adsk.wipprod:fs.file:vf.hC6k4hndRWaeIVhIjvHu8w%3Fversion=2
              webView:
                href: https://docs.b360.autodesk.com/projects/c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/folders/urn%3Aadsk.wipprod%3Afs.folder%3Aco.0J4paz_FQgWPX2QRsaBkiw/detail/viewer/items/urn:adsk.wipprod:fs.file:vf.hC6k4hndRWaeIVhIjvHu8w%3Fversion%3D2
            relationships:
              item:
                data:
                  type: items
                  id: urn:adsk.wipprod:dm.lineage:hC6k4hndRWaeIVhIjvHu8w
                links:
                  related:
                    href: https://developer.api.autodesk.com/data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn:adsk.wipprod:fs.file:vf.hC6k4hndRWaeIVhIjvHu8w%3Fversion=2/item
              links:
                links:
                  self:
                    href: https://developer.api.autodesk.com/data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn:adsk.wipprod:fs.file:vf.hC6k4hndRWaeIVhIjvHu8w%3Fversion=2/relationships/links
              refs:
                links:
                  self:
                    href: https://developer.api.autodesk.com/data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn:adsk.wipprod:fs.file:vf.hC6k4hndRWaeIVhIjvHu8w%3Fversion=2/relationships/refs
                  related:
                    href: https://developer.api.autodesk.com/data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn:adsk.wipprod:fs.file:vf.hC6k4hndRWaeIVhIjvHu8w%3Fversion=2/refs
              downloadFormats:
                links:
                  related:
                    href: https://developer.api.autodesk.com/data/v1/projects/b.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d/versions/urn:adsk.wipprod:fs.file:vf.hC6k4hndRWaeIVhIjvHu8w%3Fversion=2/downloadFormats
              derivatives:
                data:
                  type: derivatives
                  id: derivative-id
                meta:
                  link:
                    href: https://developer.api.autodesk.com/modelderivative/v2/designdata/derivative-id/manifest?scopes=b360project.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d,O2tenant.tenant-id
              thumbnails:
                data:
                  type: thumbnails
                  id: derivative-id
                meta:
                  link:
                    href: https://developer.api.autodesk.com/modelderivative/v2/designdata/derivative-id/thumbnail?scopes=b360project.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d,O2tenant.tenant-id
              storage:
                data:
                  type: objects
                  id: urn:adsk.objects:os.object:wip.dm.prod/3c8f6bbc-fe5c-4815-a92e-8b8635e7b1cb.rvt
                meta:
                  link:
                    href: https://developer.api.autodesk.com/oss/v2/buckets/wip.dm.prod/objects/3c8f6bbc-fe5c-4815-a92e-8b8635e7b1cb.rvt?scopes=b360project.c2960674-2d1e-4cc8-a5f0-4b9026fd3f5d,O2tenant.tenant-id
      title: Item
      properties:
        jsonapi:
          $ref: '#/components/schemas/json_api_version'
        links:
          $ref: '#/components/schemas/json_api_links_self'
        data:
          $ref: '#/components/schemas/ItemData'
        included:
          type: array
          description: An object containing information about the tip version of this item.
          items:
            $ref: '#/components/schemas/VersionData'
    filter_type_version_internal:
      type: array
      items:
        $ref: '#/components/schemas/filter_type_version'
      description: Filter by the ``type`` of the ``ref`` target. Supported values include ``folders``, ``items``, and ``versions``.
    filter_refType:
      type: string
      enum:
      - derived
      - dependencies
      - auxiliary
      - xrefs
      - includes
      description: 'Filter by ``refType``. Possible values: ``derived``, ``dependencies``, ``auxiliary``, ``xrefs``, and ``includes``.'
    version_extension_with_schema_link:
      type: object
      description: A container of additional properties that extends the default properties of a version.
      properties:
        type:
          type: string
          description: The Type ID of the schema that defines the structure of the ``extension.data`` object.
        version:
          type: string
          description: The version of the schema that applies to the ``extension.data`` object.
        schema:
          $ref: '#/components/schemas/json_api_link'
        data:
          type: object
          description: The object that contains the additional properties, which makes this resource extensible.
          additionalProperties:
            type: object
            description: 'Key-value pairs that contain the name and data of additional properties.

              '
      required:
      - type
      - version
      - schema
      title: ''
    item_extension_with_schema_link:
      type: object
      x-stoplight:
        id: 7vkthmto6jc8p
      description: A container of additional properties that extends the default properties of this resource.
      properties:
        type:
          type: string
          description: The Type ID of the schema that defines the structure of the ``extension.data`` object.
        version:
          type: string
          description: The version of the schema that applies to the ``extension.data`` object.
        schema:
          $ref: '#/components/schemas/json_api_link'
        data:
          type: object
          description: The object that contains the additional properties that extends this resource.
          additionalProperties:
            type: object
            description: 'Key-value pairs that contain the name and data of additional properties.

              '
      required:
      - type
      - version
      - schema
    reftypes_xref:
      type: string
      enum:
      - xrefs
      description: The type of custom relationship. Will always be ``xrefs``.
    metaForWebhooks:
      title: metaForWebhooks
      x-stoplight:
        id: x20x6jb3udvzo
      type: object
      description: Meta information required for webhooks.
      properties:
        workflow:
          type: string
          description: "The Workflow ID of a webhook that listens to Model Derivative events. Must be less than 36 characters. \nOnly ASCII characters (a-z, A-Z, 0-9), periods (.), and hyphens (-) are accepted.\nSee the [Creating a Webhook and Listening to Events](/en/docs/webhooks/v1/tutorials/create-a-hook-model-derivative) tutorial for more information.\n\n**Note**: This attribute applies to BIM 360 Docs only.\n"
        workflowAttribute:
          type: string
          description: "A user defined JSON object containing custom workflow information for the specified webhook event. Must be less than 1KB.\n\n**Note**: Applicable only if a valid value has been specified for ``meta.workflow``. \n"
      required:
      - workflow
    type_downloads:
      type: string
      x-stoplight:
        id: sxvvrm7e0pm4r
      enum:
      - downloads
      description: The type of this resource. Possible values are ``downloads``.
    json_api_links_self_and_web_view:
      title: json_api_links_self_and_web_view
      x-stoplight:
        id: go4472ydw5y6e
      type: object
      description: Information on links to this resource.
      required:
      - self
      properties:
        self:
          $ref: '#/components/schemas/json_api_link'
        webView:
          $ref: '#/components/schemas/web_view_link'
    RelationshipRefsPayload:
      description: An object that describes the custom relationship to be created.
      type: object
      x-examples:
        example-1:
          jsonapi:
            version: '1.0'
          data:
            type: versions
            id: urn:adsk.wipprod:fs.file:vf.ooWjwAQJR0uEoPRyfEnvew?version=1
            meta:
              extension:
                type: auxiliary:autodesk.core:Attachment
                version: '1.0'
      title: RelationshipRefsPayload
      properties:
        jsonapi:
          $ref: '#/components/schemas/json_api_version'
        data:
          type: object
          description: A container for the data that describes the custom relationship.
          required:
          - type
          - id
          - meta
          properties:
            type:
              $ref: '#/components/schemas/type_entity'
            id:
              type: string
              minLength: 1
              description: The ID that uniquely identifies the resource.
            meta:
              type: object
              description: The meta-information about this resource.
              required:
              - extension
              properties:
                extension:
                  $ref: '#/components/schemas/base_attributes_extension_object_without_schema_link'
      required:
      - jsonapi
      - data
    ModifyVersionPayload:
      description: An object that contains the information on the version to be patched.
      x-stoplight:
        id: 889ddf68f73b5
      type: object
      x-examples:
        example-1:
          jsonapi:
            version: '1.0'
          data:
            type: versions
            id: urn:adsk.wipprod:fs.file:vf.ooWjwAQJR0uEoPRyfEnvew?version=1
            attributes:
              name: new name for drawing.dwg
      title: ModifyVersionPayload
      properties:
        jsonapi:
          $ref: '#/components/schemas/json_api_version'
        data:
          type: object
          description: Contains the information to update
          required:
          - type
          - id
          properties:
            type:
              $ref: '#/components/schemas/type_version'
            id:
              type: string
              minLength: 1
              description: The URN of the version. Must be the raw URN, and not the URL enocoded URN.
            attributes:
              type: object
              description: Contains the properties to update
              properties:
                name:
                  type: string
                  minLength: 1
                  description: "The file name to be used when synced to local disk (1-255 characters). \n\nAvoid using the following reserved characters in the name: ``<``, ``>``, ``:``, ``\"``, ``/``, ``\\``, ``|``, ``?``, ``*``, ``'``, ``\\n``, ``\\r``, ``\\t``, ``\\0``, ``\\f``, ``¢``, ``™``, ``$``, ``®``."
      required:
      - jsonapi
      - data
    RelationshipLinks:
      description: An object containing relationship links of a resource.
      type: object
      x-examples:
        example-1:
          jsonapi:
            version: '1.0'
          links:
            self:
              href: /data/v1/projects/{some_project_id}/folders/{some_folder_id}/relationships/links
          data:
          - type: links
            id: 96af4f60-53b8-4efe-b890-1eaa9ea5cb08
            meta:
              link:
                href: /oss/v2/buckets/wipbucket/objects/myfolder.zip
              data:
                type: objects
                id: urn:adsk.objects:os.object:wipbucket/myfolder.zip
              mimeType: application/x-zip-compressed
              extension:
                type: links:A360:DownloadArchiveFolder
                version: '1.0'
                schema:
                  href: /schema/v1/versions/links%3AA360%3ADownloadArchiveFolder-1.0
                data:
                  createdTime: '2015-05-22T14:56:28.000Z'
          - type: links
            id: cf755d5e-7876-41c2-a58e-2175f9b0cd4b
            meta:
              link:
                href: /a360/v2/items/{a360folder_id}/create_archive
              extension:
                type: links:A360:CreateFolderArchive
                version: '1.0'
                schema:
                  href: /schema/v1/versions/links%3AA360%3ACreateFolderArchive-1.0
      title: RelationshipLinks
      properties:
        jsonapi:
          $ref: '#/components/schemas/json_api_version'
        links:
          $ref: '#/components/schemas/json_api_links_self'
        data:
          type: array
          uniqueItems: true
          minItems: 1
          description: An array of objects where each object represents link.
          items:
            type: object
            properties:
              type:
                $ref: '#/components/schemas/type_link'
              id:
                type: string
                minLength: 1
                description: The ID of the resource.
              meta:
                type: object
                description: The meta-information of the links of this resource.
                properties:
                  link:
                    $ref: '#/components/schemas/json_api_link'
                  data:
                    type: object
                    description: The object containing meta-information on the data of the links of this resource.
                    properties:
                      type:
                        type: string
                        minLength: 1
                        description: The type of the resource data.
                      id:
                        type: string
                        minLength: 1
                        description: The ID or URN of the resource.
                  mimeType:
                    type: string
                    minLength: 1
                    description: The MIME type of the content of the resource.
                  extension:
                    $ref: '#/components/schemas/base_attributes_extension_object_with_schema_link'
    extension_type_core_xref:
      type: string
      x-stoplight:
        id: b89a9e7482efd
      enum:
      - xrefs:autodesk.core:Xref
      description: The type of the relationship. Will always be ``xrefs:autodesk.core:Xref``.
    json_api_relationships_links_folder_parent:
      title: json_api_relationships_links_folder_parent
      x-stoplight:
        id: qmmyfor4fmle9
      type: object
      description: Information on the parent of this resource in the folder hierarchy.
      properties:
        links:
          $ref: '#/components/schemas/json_api_links_related'
          x-stoplight:
            id: e35szkgp1o7b8
        data:
          $ref: '#/components/schemas/json_api_type_id'
          x-stoplight:
            id: zdowc6ik9vvcu
    ItemAttributes:
      description: Properties of an item.
      title: 'Item Attributes:'
      type: object
      required:
      - displayName
      - createTime
      - createUserId
      - createUserName
      - lastModifiedTime
      - lastModifiedUserId
      - lastModifiedUserName
      - extension
      properties:
        displayName:
          type: string
          minLength: 1
          description: "A human friendly name to identify the item. \nNote that for BIM 360 projects, this attribute is reserved for future releases and should not be used. Use a version's ``attributes.name`` for the file name."
        createTime:
          type: string
          format: date-time
          description: The time that the resource was created at.
        createUserId:
          type: string
          minLength: 1
          description: The ID of the user that created the version.
        createUserName:
          type: string
          minLength: 1
          description: The user name of the user that created the version.
        lastModifiedTime:
          type: string
          format: date-time
          description: The time that the version was last modified.
        lastModifiedUserId:
          type: string
          minLength: 1
          description: The ID of the user that last modified the version.
        lastModifiedUserName:
          type: string
          minLength: 1
          description: The user name of the user that last modified the version.
        hidden:
          type: boolean
          description: "``true``: The file has been deleted. \n\n``false``: The file has not been deleted.\n"
        reserved:
          type: boolean
          description: "``true``: The file is locked.\n\n``false`` The file is not locked. \n\n**Note:** You can lock BIM 360 Project Files folder files and A360 files, but you cannot lock BIM 360 Plans Folder files.\n"
        reservedTime:
          type: string
          format: date-time
          description: 'The time the item was reserved in the following format: ``YYYY-MM-DDThh:mm:ss.sz``.'
        reservedUserId:
          type: string
          description: The unique identifier of the user who reserved the item.
        reservedUserName:
          type: string
          description: The name of the user who reserved the item.
        extension:
          $ref: '#/components/schemas/item_extension_with_schema_link'
        pathInProject:
          type: string
          x-stoplight:
            id: weoan682ts8ft
          description: The relative path of the item starting from project’s root folder.
    json_api_version_value:
      description: The version of JSON API. Will always be ``1.0``.
      type: string
      enum:
      - '1.0'
    filter_type_version:
      type: string
      enum:
      - folders
      - items
      - versions
      description: Filter by the ``type`` of the ``ref`` target. Supported values include ``folders``, ``items``, and ``versions``.
    base_attributes_extension_object_without_schema_link:
      title: 'base_attributes_extension_object_with_schema_link:'
      x-stoplight:
        id: rwbl8xfimitn3
      type: object
      description: A container of additional properties that extends this resource.
      properties:
        type:
          type: string
          x-stoplight:
            id: jdli2qhh88jq3
          description: The Type ID of the schema that defines the structure of the ``extension.data`` object.
        version:
          type: string
          x-stoplight:
            id: x1l84lpe0ce01
          description: The version of the schema that applies to the ``extension.data`` object.
        data:
          type: object
          x-stoplight:
            id: 5h0r1ilaapxra
          description: The object that contains the additional properties, which makes this resource extensible.
          additionalProperties:
            type: object
            description: 'Key-value pairs that contain the name and data of additional properties.

              '
      required:
      - type
      - version
    FolderData:
      title: 'Folder Data:'
      x-stoplight:
        id: 0crrh7a4rnsne
      type: object
      description: A container of data describing a folder.
      properties:
        type:
          $ref: '#/components/schemas/type_folder'
        id:
          type: string
          minLength: 1
          description: The unique identifier of the folder.
        attributes:
          $ref: '#/components/schemas/FolderAttributesWithExtensions'
        links:
          $ref: '#/components/schemas/json_api_links_self_and_web_view'
        relationships:
          type: object
          description: Contains links to resources that are directly related to this folder.
          required:
          - parent
          - refs
          - links
          - contents
          properties:
            parent:
              $ref: '#/components/schemas/json_api_relationships_links_folder_parent'
            refs:
              $ref: '#/components/schemas/json_api_relationships_links_refs'
            links:
              $ref: '#/components/schemas/json_api_relationships_links_links'
            contents:
              $ref: '#/components/schemas/json_api_relationships_links_internal'
      required:
      - type
      - id
      - attributes
      - links
      - relationships
    type_ref:
      type: string
      enum:
      - derived
      - dependencies
      - auxiliary
      - xrefs
      - includes
      description: The type of the resource. Possible values are ``derived``, ``dependencies``, ``auxiliary``, ``xrefs``, and ``includes``.
    VersionAttributes:
      description: The properties of a version.
      type: object
      title: 'Version Attributes:'
      required:
      - name
      - displayName
      - versionNumber
      - createTime
      - createUserId
      - createUserName
      - lastModifiedTime
      - lastModifiedUserId
      - lastModifiedUserName
      - extension
      properties:
        name:
          type: string
          minLength: 1
          description: The file name to be used when synced to local disk.
        displayName:
          type: string
          minLength: 1
          description: A human friendly name to identify the version. Note that for BIM 360 projects, this field is reserved for future releases and should not be used. Use a version's ``attributes.name`` for the file name.
        mimeType:
          type: string
          minLength: 1
          description: The MIME type of the content of the version.
        versionNumber:
          type: integer
          format: int32
          description: Version number of this versioned file.
        fileType:
          type: string
          x-stoplight:
            id: yq6z1hqtgy95z
          description: File type, only present if this version represents a file.
        storageSize:
          type: integer
          x-stoplight:
            id: ggffb602xjxgs
            explicitProperties:
            - type
            - format
            - description
          format: int64
          description: File size in bytes, only present if this version represents a file.
        createTime:
          type: string
          format: date-time
          description: The time that the resource was created at.
        createUserId:
          type: string
          minLength: 1
          description: The ID of the user that created the version.
        createUserName:
          type: string
          minLength: 1
          description: The user name of the user that created the version.
        lastModifiedTime:
          type: string
          format: date-time
          description: The time that the version was last modified.
        lastModifiedUserId:
          type: string
          minLength: 1
          description: The ID of the user that last modified the version.
        lastModifiedUserName:
          type: string
          minLength: 1
          description: The user name of the user that last modified the version.
        extension:
          $ref: '#/components/schemas/version_extension_with_schema_link'
    json_api_type_id:
      title: json_api_type_id
      x-stoplight:
        id: vj150c8bxpc9d
      type: object
      description: An object containing the ``id`` and ``type`` properties of a resource.
      properties:
        id:
          type: string
          description: The URN of the resource.
        type:
          type: string
          x-stoplight:
            id: j3iiuzs5pdley
          description: The type of the resource.
    type_object:
      type: string
      enum:
      - objects
      description: The type of this resource. Possible values are ``objects``.
    FolderAttributesWithExtensions:
      title: 'Folder Attributes:'
      type: object
      description: The properties of a folder.
      required:
      - name
      - displayName
      - objectCount
      - createTime
      - createUserId
      - createUserName
      - lastModifiedTime
      - lastModifiedUserId
      - lastModifiedUserName
      - hidden
      properties:
        name:
          type: string
          minLength: 1
          description: The name of the folder.
        displayName:
          type: string
          minLength: 1
          description: Reserved for future Use. Do not use. Use ``attributes.name`` for the folder name.
        objectCount:
          type: integer
          format: int32
          description: The number of objects inside the folder.
        createTime:
          type: string
          format: date-time
          description: 'The time the folder was created, in the following format: ``YYYY-MM-DDThh:mm:ss.sz``.'
        createUserId:
          type: string
          minLength: 1
          description: The unique identifier of the user who created the folder.
        createUserName:
          type: string
          minLength: 1
          description: The name of the user who created the folder.
        lastModifiedTime:
          type: string
          format: date-time
          description: 'The last time the folder was modified, in the following format: ``YYYY-MM-DDThh:mm:ss.sz``.'
        lastModifiedUserId:
          type: string
          minLength: 1
          description: 'The last time the folder was modified, in the following format: ``YYYY-MM-DDThh:mm:ss.sz``.'
        lastModifiedUserName:
          type: string
          minLength: 1
          description: The name of the user who last modified the folder.
        lastModifiedTimeRollup:
          type: string
          minLength: 1
          description: The date and time the folder or any of its children were last updated.
        hidden:
          type: boolean
          description: The folder’s current visibility state.
        extension:
          $ref: '#/components/schemas/folder_extension_with_schema_link'
    json_api_links_self:
      title: json_api_links_self
      x-stoplight:
        id: hedbm6v3pcz7k
      type: object
      description: An object containing the URI of the endpoint to access this resource.
      properties:
        self:
          type: object
          x-stoplight:
            id: xjz8a6shpmaya
          description: An object containing the URI of the endpoint to access this resource.
          properties:
            href:
              type: string
              x-stoplight:
                id: jx2lmnxrl8f10
              description: "The URI of the endpoint to access this \nresource."
    DownloadData:
      type: object
      title: DownloadData
      description: A container of the details of the download object.
      properties:
        type:
          $ref: '#/components/schemas/type_downloads'
        id:
          type: string
          minLength: 1
          description: An ID to uniquely identify this download. It is identical to the Job ID that was used to generate this download.
        attributes:
          type: object
          description: The properties of the download.
          properties:
            format:
              type: object
              description: A container of the file format of the download.
              properties:
                fileType:
                  type: string
                  description: The file name extension of the file format of the download.
        links:
          $ref: '#/components/schemas/json_api_links_self'
        relationships:
          type: object
          description: Contains links to the resources directly related to the download.
          properties:
            storage:
              type: object
              x-stoplight:
                id: cc3e3vp8dczsv
              description: Contains information about the location of the download.
              properties:
                data:
                  type: object
                  x-stoplight:
                    id: igosz8uo35vnf
                  description: Contains information about the storage location of the download.
                  properties:
                    type:
                      $ref: '#/components/schemas/type_object'
                    id:
                      type: string
                      x-stoplight:
                        id: g5hi1dz7htcfv
                      description: The URN of the storage location.
                meta:
                  type: object
                  description: Meta information about the storage location of the download.
                  properties:
                    link:
                      $ref: '#/components/schemas/json_api_link'
    ItemData:
      title: 'Item Data:'
      x-stoplight:
        id: 9jpoyxqpibzmx
      type: object
      description: A container of data describing an item.
      properties:
[...]
